@model Rhea.UI.Areas.Apartment.Models.RentRequestModel

@{
    ViewBag.Title = "房租计算";
    Layout = null;
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "page-content-body",
        Url = Url.Action("Edit", "Finance"),
        HttpMethod = "POST",
        OnSuccess = "Rhea.showMessage('提交成功')"
    };
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">收费管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>时间选择
                </div>
                <div class="tools">
                    <a href="#" class="collapse">
                    </a>
                    <a href="#" class="reload">
                    </a>
                    <a href="#" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 form">
                        @using (Ajax.BeginForm("Edit", new { controller = "Finance" }, ajaxOpts, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-body">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <div class="input-group input-medium date date-picker" data-date="10/2012" data-date-format="yyyy-mm" data-date-viewmode="years" data-date-minviewmode="months">
                                                    <input type="text" class="form-control" readonly="readonly" />
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                               
                                                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-offset-4 col-md-2">
                                        <button type="submit" class="btn blue"><i class="fa fa-check"></i>&nbsp;提交</button>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({
            orientation: "left",
            autoclose: true
        });
    });
</script>
