@model Rhea.Data.Entities.Floor

@{
    ViewBag.Title = "楼层信息";
    Layout = null;
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-th-list"></i>楼层信息</h2>
    </div>
    <div class="box-content">
        <div class="page-header">
            <h1>
                @Model.Name <small>Id: @Model.Id</small>          
            </h1>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <h3>
                    详细参数</h3>
                <div class="row-fluid">
                    <div class="span4">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        属性
                                    </th>
                                    <th>
                                        值
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Number)
                                    </td>
                                    <td>
                                        @Model.Number
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Model.Name
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span4">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        属性
                                    </th>
                                    <th>
                                        值
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildArea)
                                    </td>
                                    <td>
                                        @Model.BuildArea
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.UsableArea)
                                    </td>
                                    <td>
                                        @Model.UsableArea
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span4">
                        <div class="well" data-bind="text: remark">
                            备注：@Model.Remark
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <h3>
                    操作</h3>
                <p>
                    <a class="btn" id="return" href="#"><i class="icon-arrow-left"></i>返回</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-camera"></i>楼层平面图</h2>
    </div>
    <div class="box-content">
        <div class="row-fluid">
            <div class="span9">
                <div id="svg"></div>
            </div>

            <div class="span3">
                <div id="room-summary"></div>
            </div>
        </div>        
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('a#return').click(function () {
            ajaxLoadPage("Details", "Building", "Estate", { id : @ViewBag.BuildingId });
            return false;
        });      

        var svgFile = '@Model.ImageUrl';

        if (svgFile != '') {
            $('div#svg').load(svgFile, function () {
                svg = $(this).children('svg');
                svg.attr({ 'width': '100%', 'height': '500px' });
               
                $("svg g[id^='g']").click(function() {
                    var id = $(this).attr('id').toString().substring(1);
                    $("svg rect[class='room-select']").attr('class', 'fil0');

                    $(this).children('[ref=bound]').attr('class', 'room-select');

                    $('#room-summary').load('/Estate/Room/Summary', { id: id });
                });
            });     
        }
    });
</script>