@model Rhea.Model.Estate.Campus

@{
    ViewBag.Title = "校区信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.Action("Menu", "Estate")

    <div id="content" class="col-xs-12 col-sm-10 col-lg-10">
        <div class="row">
            <div id="breadcrumb" class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Estate")">房产管理</a></li>
                    <li><a href="#">校区管理</a></li>
                    <li><a href="@Url.Action("Details", new { controller = "Campus", id = Model.CampusId })">校区信息</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="box">
                    <div class="box-header">
                        <div class="box-name">
                            <i class="fa fa-info-circle"></i>
                            <span>@ViewBag.Title</span>
                        </div>
                        <div class="box-icons">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="expand-link">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="no-move"></div>
                    </div>

                    <div class="box-content table-responsive">
                        <table class="table table-bordered table-striped table-hover" id="campus-table">
                            <thead>
                                <tr>
                                    <th>属性</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.CampusId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.CampusId)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ImageUrl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ImageUrl)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Remark)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Status)
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <hr />
                        <p>
                            <a href="@Url.Action("List", new { controller = "Campus" })" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts {
    <script type="text/javascript">
        $(function () {
            topNavActive($('#estate-nav'));
            leftNavActive($('#campus-list-menu'));
        });
    </script>
}