@model IEnumerable<Rhea.Model.Account.UserGroup>

@{
    ViewBag.Title = "用户组列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Account.cshtml";
    bool isRoot = User.IsInRole2("Root");
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2><i class="icon-th-list"></i>@ViewBag.Title</h2>
    </div>

    <div class="box-content">
        <div class="row-fluid">
            <div class="span12">
                <table id="department-list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rank)
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Title</td>
                            <td>@item.Rank</td>
                            <td>
                                <a class="btn btn-success btn-small" href="@Url.Action("Details", new { controller = "UserGroup", id = item.Id, area = "Admin" })"><i class="icon-zoom-in icon-white"></i>查看</a>
                                @if (isRoot)
                                {
                                <a class="btn btn-warning btn-small" href="@Url.Action("Edit", new { controller = "UserGroup", id = item.Id, area = "Admin" })"><i class="icon-edit icon-white"></i>编辑</a>
                                }
                                <a class="btn btn-info btn-small" href="@Url.Action("List", new { controller = "Account", groupId = item.Id, area = "Admin" })"><i class="icon-th-large icon-white"></i>用户</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        @if (isRoot)
        {
        <p>
            <a class="btn btn-primary" href="@Url.Action("Create", new { controller = "UserGroup", area = "Admin" })"><i class="icon-plus icon-white"></i>添加用户组</a> 
        </p>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var menu = $('a#user-group-manage');
        menuNavActive(menu);
    });
</script>

