@model IEnumerable<Rhea.Data.Estate.BuildingAreaModel>

@{
    ViewBag.Title = "分楼宇用房面积";
    Layout = null;
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-align-left"></i>分楼宇用房面积</h2>
    </div>

    <div class="box-content">
        <table id="building-group-list" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        楼宇编号
                    </th>
                    <th>
                        楼宇名称
                    </th>
                    <th>
                        房间数量
                    </th>
                    <th>
                        总面积 m<sup>2</sup>
                    </th>                                 
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.BuildingName
                        </td>
                        <td>
                            @item.RoomCount
                        </td>
                        <td>
                            @item.Area
                        </td>                     
                        <td>
                            <a class="btn btn-success buildinggroup-details" href="#" ref="@item.Id">
                                <i class="icon-zoom-in icon-white"></i>查看
                            </a>
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
</div>


