@model Rhea.Model.Personnel.Department

@{
    ViewBag.Title = "部门详细";
    Layout = null;
}

@if (Model.Type == (int)Rhea.Data.Personnel.DepartmentType.Type1)
{
<div class="row-fluid">
    <div class="span6">
        <div class="page-header">
            <h4>部门规模</h4>
        </div>
       
        <table class="responsive table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:180px">
                        属性
                    </th>
                    <th>
                        值（人数）
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.BachelorCount)
                    </td>
                    <td>
                        @Model.BachelorCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.GraduateCount)
                    </td>
                    <td>
                        @Model.GraduateCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.MasterOfEngineerCount)
                    </td>
                    <td>
                        @Model.MasterOfEngineerCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DoctorCount)
                    </td>
                    <td>
                        @Model.DoctorCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.StaffCount)
                    </td>
                    <td>
                        @Model.StaffCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.PartyLeaderCount)
                    </td>
                    <td>
                        @Model.PartyLeaderCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.SectionChiefCount)
                    </td>
                    <td>
                        @Model.SectionChiefCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ProfessorCount)
                    </td>
                    <td>
                        @Model.ProfessorCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.AssociateProfessorCount)
                    </td>
                    <td>
                        @Model.AssociateProfessorCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.MediumTeacherCount)
                    </td>
                    <td>
                        @Model.MediumTeacherCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.AdvanceAssistantCount)
                    </td>
                    <td>
                        @Model.AdvanceAssistantCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.MediumAssistantCount)
                    </td>
                    <td>
                        @Model.MediumAssistantCount
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.SubjectType)
                    </td>
                    <td>
                        @Model.SubjectTypeName()
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="span6">
        <div class="page-header">
            <h4>用房面积</h4>
        </div>

        <table class="responsive table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:180px">
                        属性
                    </th>
                    <th>
                        值（m<sup>2</sup>）
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>办公用房</td>
                    <td>@ViewBag.OfficeArea</td>
                </tr>
                <tr>
                    <td>教学用房</td>
                    <td>@ViewBag.EducationArea</td>
                </tr>
                <tr>
                    <td>实验用房</td>
                    <td>@ViewBag.ExperimentArea</td>
                </tr>
                <tr>
                    <td>科研用房</td>
                    <td>@ViewBag.ResearchArea</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TalentArea)</td>
                    <td>@Model.TalentArea</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ResearchBonusArea)</td>
                    <td>@Model.ResearchBonusArea</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ExperimentBonusArea)</td>
                    <td>@Model.ExperimentBonusArea</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.AdjustArea)</td>
                    <td>@Model.AdjustArea</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
<div class="row-fluid">
    <div class="span6">
        <div class="page-header">
            <h4>科研数据</h4>
        </div>

        <table class="responsive table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:180px">
                        属性
                    </th>
                    <th>
                        值（万元）
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LongitudinalFunds)</td>
                    <td>@Model.LongitudinalFunds</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TransverseFunds)</td>
                    <td>@Model.TransverseFunds</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CompanyFunds)</td>
                    <td>@Model.CompanyFunds</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <div class="page-header">
            <h4>人均用房</h4>
        </div>
           
        <table class="responsive table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:180px">
                        属性
                    </th>
                    <th>
                        值（m<sup>2</sup>/人）
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>人均办公用房面积</td>
                    <td>@ViewBag.AvgOfficeArea</td>
                </tr>
                <tr>
                    <td>研究生人均科研用房面积</td>
                    <td>@ViewBag.AvgResearchArea</td>
                </tr>
                <tr>
                    <td>科研经费用房面积(万元/m<sup>2</sup>)</td>
                    <td>@ViewBag.AvgFundsArea</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}
else
{
<div class="row-fluid">
    <div class="span6">
        <div class="page-header">
            <h4>部门规模</h4>
        </div>
           
        <table class="responsive table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:180px">
                        属性
                    </th>
                    <th>
                        值（人数）
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.PresidentCount)</td>
                    <td>@Model.PresidentCount</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.VicePresidentCount)</td>
                    <td>@Model.VicePresidentCount</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ChiefCount)</td>
                    <td>@Model.ChiefCount</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ViceChiefCount)</td>
                    <td>@Model.ViceChiefCount</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.MemberCount)</td>
                    <td>@Model.MemberCount</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <div class="page-header">
            <h4>用房数据</h4>
        </div>
           
        <table class="responsive table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:180px">
                        属性
                    </th>
                    <th>
                        值
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>总面积(m<sup>2</sup>)</td>
                    <td>@ViewBag.TotalArea</td>
                </tr>
                <tr>
                    <td>人均用房面积(m<sup>2</sup>/人)</td>
                    <td>@ViewBag.AvgArea</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}