@model Rhea.Data.Entities.Department

@{
    ViewBag.Title = "部门编辑";
    Layout = null;
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "ajax-content1",
        Url = Url.Action("Edit", "Department")
    }; 
}

<style type="text/css">
    .table tbody td
    {
        vertical-align: middle;
    }
</style>

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-th-list"></i>部门信息</h2>
    </div>
    <div class="box-content">
        <div class="row-fluid">
            <div class="span12">
            @using (Ajax.BeginForm(ajaxOpts))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>部门编辑</legend>
                    @Html.HiddenFor(model => model.Id)

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 20%">
                                    属性
                                </th>
                                <th style="width: 80%">
                                    值
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Name)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </td>
                            </tr>                          
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Description)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description)
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            保存</button>
                        <button id="cancel" class="btn">
                            取消</button>
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
</div>
