@model Rhea.UI.Models.DepartmentSectionModel
@using Rhea.Data.Personnel
@{
    ViewBag.Title = "部门主页";
    Layout = null;    
}

@Html.Action("Heading", new { controller = "Common", area = "", title = Model.DepartmentName, active = "部门导航" })


<!--Sidebar background-->
<div id="section-barbg">
</div>

<div id="section-bar">
    <div class="section-nav">
        <ul id="secTab" class="nav nav-tabs pattern">
            <li class="active"><a href="#tab-fun" data-toggle="tab">功 能</a></li>
            <li><a href="#tab-room" data-toggle="tab">房 屋</a></li>
            <li><a href="#tab-stat" data-toggle="tab">统 计</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-fun">
                <div class="secbar-widget">
                    <div class="content">
                        <button class="btn btn-primary btn-block" id="department-intro"><span class="icon16 icomoon-icon-cog white"></span> 简介</button>
                        <button class="btn btn-info btn-block" id="department-details"><span class="icon16 icomoon-icon-info-2 white"></span> 详细</button>
                    </div>
                </div>
                <hr />
                <div class="secbar-widget">
                <div class="centerContent">
                    <div class="circle-stats">
                    @if (Model.DepartmentType == (int)DepartmentType.Type1)
                    {          
                        <div class="circular-item tip" title="办公用房比例">
                            <span class="icon icomoon-icon-license"></span>
                            <input type="text" value="@Model.OfficeAreaRatio" class="orangeCircle" />
                        </div>
                        <div class="circular-item tip" title="实验用房比例">
                            <span class="icon icomoon-icon-target-2"></span>
                            <input type="text" value="@Model.ExperimentAreaRatio" class="blueCircle" />
                        </div>
                        <div class="circular-item tip" title="科研用房比例">
                            <span class="icon icomoon-icon-announcement"></span>
                            <input type="text" value="@Model.ResearchAreaRatio" class="yellowCircle" />
                        </div>
                    }
                    else
                    {
                        <div class="circular-item tip" title="办公用房比例">
                            <span class="icon icomoon-icon-license"></span>
                            <input type="text" value="@Model.OfficeAreaRatio" class="orangeCircle" />
                        </div>
                    }
                    @if (Model.Overproof > 100)
                    {
                        <div class="circular-item tip" title="定额率">
                            <span class="icon icomoon-icon-target-2"></span>
                            <input type="text" value="@Convert.ToInt32(Model.Overproof)" class="redCircle" />
                        </div>
                    }
                    else
                    {
                        <div class="circular-item tip" title="定额率">
                            <span class="icon icomoon-icon-target-2"></span>
                            <input type="text" value="@Model.Overproof" class="greenCircle" />
                        </div>
                    }
                    </div>
                </div>
                </div>

                <div class="secbar-widget">
                    <h5 class="title">当前</h5>
                    <div class="content">
                        <div class="rightnow">
                            <ul class="unstyled">
                                <li><span class="number">@Model.StaffCount</span><span class="icon16 icomoon-icon-new-2"></span>教职工</li>
                                <li><span class="number">@Model.Buildings.Count</span><span class="icon16 icomoon-icon-clubs"></span>楼宇</li>
                                <li><span class="number">@Model.RoomCount</span><span class="icon16 icomoon-icon-home-9"></span>房间</li>
                                <li><span class="number">@Math.Truncate(Model.TotalArea)</span><span class="icon16 icomoon-icon-tag"></span>面积</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="tab-room">
                <div class="secbar-widget">
                    <h4 class="title">楼宇列表</h4>
                    <div class="content">
                        <ul id="building-list" class="nav nav-pills nav-stacked">
                        @foreach (var item in Model.Buildings)
                        {
                            <li><a href="#" ref="@item.Id">@item.Name</a></li>
                        }
                        </ul>
                    </div>
                </div>

                <div class="secbar-widget">
                    <h4 class="title">楼层列表</h4>
                    <div class="content">
                        <ul id="floor-list" class="nav nav-pills nav-stacked">
                        
                        </ul>
                    </div>
                </div>
                
                <div class="secbar-widget" id="sec-room-info" style="display:none;">
                    <h4 class="title">房间信息</h4>
                    <div class="content">
                        <div class="btn-group" data-toggle="buttons-radio">
                            <button id="plan-view" class="btn btn-primary active">平面图</button>
                            <button id="list-view" class="btn btn-primary">房间</button>
                            <button id="floor-view" class="btn btn-primary">楼层</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-stat">
                <div class="centerContent">
                    <ul class="bigBtnIcon">
                        <li>
                            <a href="#" id="room-list" title="房间列表" class="tip">
                                <span class="icon icomoon-icon-list-view"></span><span class="txt">房间列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="department-statistic">
                                <span class="icon icomoon-icon-drawer"></span>
                                <span class="txt">四类用房</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="department-classify">
                                <span class="icon icomoon-icon-drawer-2"></span>
                                <span class="txt">分类统计</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="department-indicator">
                                <span class="icon icomoon-icon-shield"></span>
                                <span class="txt">指标化</span>
                                @if (Model.Overproof > 100)
                                {
                                <span class="notification red">超</span>
                                }
                                else
                                {
                                <span class="notification green">@Model.Overproof%</span>
                                }
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pattern">
                                <span class="icon icomoon-icon-comments-2"></span>
                                <span class="txt">消息</span>
                                <span class="notification green">23</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="secbar-widget">
                    <h4 class="title">历史数据</h4>
                    <div class="content sparkStats">
                        <ul class="unstyled">
                            <li><span class="sparkLine1 "></span> 总人数: <span class="number">509</span></li>
                            <li>
                                <span class="sparkLine2"></span>
                                面积: 
                                <span class="number">389</span>
                            </li>
                            <li><span class="sparkLine3"></span> 
                                房间: 
                                <span class="number">731</span>
                            </li>
                            <li><span class="sparkLine4"></span>
                                人均: 
                                <span class="number">1.44</span>
                            </li>
                        </ul>
                    </div><!-- End .sparkStats -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section-content" class="clearfix">
    <div class="row-fluid">
        <div class="span12">
            <div id="content2-layer"></div>
            <div id="content2-loader"></div>
            <div id="ajax-content2">
                @Html.Action("Intro", "Department", new { area = "", id = Model.DepartmentId })
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {

        $('.tip').tooltip();

        //circular progrress bar
        $(".orangeCircle").knob({
            'min': 0,
            'max': 100,
            'readOnly': true,
            'width': 100,
            'height': 100,
            'fgColor': '#F49005',
            'dynamicDraw': true,
            'thickness': 0.2,
            'tickColorizeValues': true
        });
        $(".blueCircle").knob({
            'min': 0,
            'max': 100,
            'readOnly': true,
            'width': 100,
            'height': 100,
            'fgColor': '#88BBC8',
            'dynamicDraw': true,
            'thickness': 0.2,
            'tickColorizeValues': true
        });
        $(".yellowCircle").knob({
            'min': 0,
            'max': 100,
            'readOnly': true,
            'width': 100,
            'height': 100,
            'fgColor': '#F4DC41',
            'dynamicDraw': true,
            'thickness': 0.2,
            'tickColorizeValues': true
        });
        $(".greenCircle").knob({
            'min': 0,
            'max': 100,
            'readOnly': true,
            'width': 100,
            'height': 100,
            'fgColor': '#9FC569',
            'dynamicDraw': true,
            'thickness': 0.2,
            'tickColorizeValues': true
        });
        $(".redCircle").knob({
            'min': 0,
            'max': '@Convert.ToInt32(Model.Overproof)',
            'readOnly': true,
            'width': 100,
            'height': 100,
            'fgColor': '#F60B07',
            'dynamicDraw': true,
            'thickness': 0.2,
            'tickColorizeValues': true
        });
       

        //generate random number for charts
        randNum = function () {
            //return Math.floor(Math.random()*101);
            return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
        }

        //sparklines (making loop with random data for all 7 sparkline)
        for (var i = 1; i < 5; i++) {
            var data = [[1, 3 + randNum()], [2, 5 + randNum()], [3, 8 + randNum()], [4, 11 + randNum()], [5, 14 + randNum()], [6, 17 + randNum()], [7, 20 + randNum()], [8, 15 + randNum()], [9, 18 + randNum()], [10, 22 + randNum()]];
            placeholder = '.sparkLine' + i;
            $(placeholder).sparkline(data, {
                width: 100, //Width of the chart - Defaults to 'auto' - May be any valid css width - 1.5em, 20px, etc (using a number without a unit specifier won't do what you want) - This option does nothing for bar and tristate chars (see barWidth)
                height: 30, //Height of the chart - Defaults to 'auto' (line height of the containing tag)
                lineColor: '#88bbc8', //Used by line and discrete charts to specify the colour of the line drawn as a CSS values string
                fillColor: '#f2f7f9', //Specify the colour used to fill the area under the graph as a CSS value. Set to false to disable fill
                spotColor: '#467e8c', //The CSS colour of the final value marker. Set to false or an empty string to hide it
                maxSpotColor: '#9FC569', //The CSS colour of the marker displayed for the maximum value. Set to false or an empty string to hide it
                minSpotColor: '#ED7A53', //The CSS colour of the marker displayed for the mimum value. Set to false or an empty string to hide it
                spotRadius: 3, //Radius of all spot markers, In pixels (default: 1.5) - Integer
                lineWidth: 2//In pixels (default: 1) - Integer
            });
        }


        $('button#department-intro').click(function () {
            ajaxContentLoadPage2("Intro", "Department", { id: '@Model.DepartmentId' }, $('#ajax-content2'));
            return false;
        });

        $('button#department-details').click(function () {
            ajaxContentLoadPage2("Details", "Department", { id: '@Model.DepartmentId' }, $('#ajax-content2'));
            return false;
        });

        $('a#department-indicator').click(function () {
            ajaxContentLoadPage2("Indicator", "Department", { id: '@Model.DepartmentId' }, $('#ajax-content2'));
            return false;
        });

        $('a#department-statistic').click(function () {
            ajaxContentLoadPage2("Statistic", "Department", { id: '@Model.DepartmentId' }, $('#ajax-content2'));
            return false;
        });

        $('a#department-classify').click(function () {
            ajaxContentLoadPage2("Classify", "Department", { id: '@Model.DepartmentId' }, $('#ajax-content2'));
            return false;
        });

        $('a#room-list').click(function () {
            ajaxContentLoadPage("ListByDepartment", "Room", "Estate", { departmentId: '@Model.DepartmentId' }, $('#ajax-content2'));
            return false;
        });

        var departmentId = '@Model.DepartmentId';
        var currentFloor = null;
        var currentBuildingId = 0;

        $('ul#building-list li a').click(function () {
            currentBuildingId = $(this).attr('ref');
            currentFloor = null;

            ajaxContentLoadPage2("Building", "Department", { id: departmentId, buildingId: currentBuildingId }, $('#ajax-content2'));
            secNavActive($('ul#building-list'), $(this));

            $.getJSON('/Department/GetFloors', { id: departmentId, buildingId: currentBuildingId }, function (response) {
                var text = [];
                $.each(response, function (i, item) {
                    text.push("<li><a href='#' class='floor-index' ref='" + item.Number + "'>" + item.Name + "</a></li>");
                });
                text = text.join('');
                $('ul#floor-list').empty();
                $('ul#floor-list').append(text);

                $('a.floor-index').click(function () {
                    secNavActive($('ul#floor-list'), $(this));
                    currentFloor = $(this).attr('ref');
                    ajaxContentLoadPage("FloorView", "Building", "Estate", { id: currentBuildingId, floor: currentFloor }, $('#ajax-content2'));
                    $('div#sec-room-info').show();
                    return false;
                });
            });
            return false;
        });

        $('#sec-room-info #plan-view').click(function () {
            if (currentFloor == null)
                return;
            ajaxContentLoadPage("FloorView", "Building", "Estate", { id: currentBuildingId, floor: currentFloor }, $('#ajax-content2'));
            return;
        });

        $('#sec-room-info #list-view').click(function () {
            if (currentFloor == null)
                return;
            ajaxContentLoadPage("ListByDepartment", "Room", "Estate", { departmentId: departmentId, buildingId: currentBuildingId, floor: currentFloor }, $('#ajax-content2'));
            return;
        });

        $('#sec-room-info #floor-view').click(function () {
            if (currentFloor == null)
                return;
            ajaxContentLoadPage("FloorInfo", "Building", "Estate", { id: currentBuildingId, floor: currentFloor }, $('#ajax-content2'));
            return;
        });
    });
</script>
