@model IEnumerable<Rhea.Model.Personnel.Department>
@using Rhea.Common;
@using Rhea.Data.Personnel;

@{
    ViewBag.Title = "部门列表";
    Layout = null;
}

<div class="box gradient">
    <div class="title">
        <h4>
            <span class="icon16 icomoon-icon-list-view-2"></span>
            <span>@ViewBag.Title</span>
        </h4>
        <a href="#" class="minimize">Minimize</a>
    </div>

    <div class="content noPad clearfix">
        <table id="department-list" class="responsive dynamicTable display table table-bordered">
            <thead>
                <tr>
                    <th>
                        部门编号
                    </th>
                    <th>
                        部门名称
                    </th>
                    <th>
                        部门类型
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@{
                        DepartmentType t = (DepartmentType)item.Type;
                        @t.DisplayName();
                        }        
                    </td>                 
                    <td>
                        <a class="btn btn-success btn-small tdepartment-index" ref="@item.Id" href="#"><i class="icon-zoom-in icon-white"></i>查看</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('a.tdepartment-index').click(function () {
            var id = $(this).attr('ref');
            ajaxLoadPage2("Index", "Department", { id: id });
            return false;
        });

        var dom = $('table#department-list');
        initDataTable(dom);
    });   
</script>