@model Rhea.Model.Estate.BuildingGroup

@{
    ViewBag.Title = "添加楼群";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Estate.cshtml";
}


<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-tasks"></i>楼群信息</h2>
    </div>

    <div class="box-content">
        <div class="row-fluid">
            <div class="span12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>楼群添加</legend>                

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 20%">
                                    属性
                                </th>
                                <th style="width: 80%">
                                    值
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Name)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.ImageUrl)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ImageUrl)
                                    @Html.ValidationMessageFor(model => model.ImageUrl)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildingCount)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.BuildingCount)
                                    @Html.ValidationMessageFor(model => model.BuildingCount)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.AreaCoeffcient)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.AreaCoeffcient)
                                    @Html.ValidationMessageFor(model => model.AreaCoeffcient)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildArea)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.BuildArea)
                                    @Html.ValidationMessageFor(model => model.BuildArea)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.UsableArea)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.UsableArea)
                                    @Html.ValidationMessageFor(model => model.UsableArea)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Floorage)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Floorage)
                                    @Html.ValidationMessageFor(model => model.Floorage)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildType)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.BuildType)
                                    @Html.ValidationMessageFor(model => model.BuildType)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildStructure)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.BuildStructure)
                                    @Html.ValidationMessageFor(model => model.BuildStructure)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildCost)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.BuildCost)
                                    @Html.ValidationMessageFor(model => model.BuildCost)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.CurrentValue)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.CurrentValue)
                                    @Html.ValidationMessageFor(model => model.CurrentValue)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Classified)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Classified)
                                    @Html.ValidationMessageFor(model => model.Classified)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.FundsSubject)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.FundsSubject)
                                    @Html.ValidationMessageFor(model => model.FundsSubject)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.EquityNumber)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.EquityNumber)
                                    @Html.ValidationMessageFor(model => model.EquityNumber)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildDate)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.BuildDate)
                                    @Html.ValidationMessageFor(model => model.BuildDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.FixedYear)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.FixedYear)
                                    @Html.ValidationMessageFor(model => model.FixedYear)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.DesignCompany)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.DesignCompany)
                                    @Html.ValidationMessageFor(model => model.DesignCompany)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.ConstructCompany)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ConstructCompany)
                                    @Html.ValidationMessageFor(model => model.ConstructCompany)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.ManageType)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ManageType)
                                    @Html.ValidationMessageFor(model => model.ManageType)
                                </td>
                            </tr>                           
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Remark)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Remark)
                                    @Html.ValidationMessageFor(model => model.Remark)
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">保存</button>                       
                        <a class="btn" href="@Url.Action("List", new { controller = "BuildingGroup", area = "Admin" })">回到列表</a> 
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#BuildDate').datepicker({ format: 'yyyy-mm-dd' });

        var menu = $('a#building-group-manage');
        menuNavActive(menu);
    });
</script>
