@model Rhea.Model.Estate.BuildingGroup

@{
    ViewBag.Title = "楼群删除";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Estate.cshtml";
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-tasks"></i>楼群信息</h2>
    </div>

    <div class="box-content">
        <div class="page-header">
            <h2>
                确认是否删除该信息?</h2>        
        </div>

        <div class="row-fluid">
            <div class="span12">
                <fieldset>                
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 20%">
                                    属性
                                </th>
                                <th style="width: 80%">
                                    值
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Id)
                                </td>
                                <td>
                                    @Model.Id
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Name)
                                </td>
                                <td>
                                    @Model.Name
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildingCount)
                                </td>
                                <td>
                                    @Model.BuildingCount
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.AreaCoeffcient)
                                </td>
                                <td>
                                    @Model.AreaCoeffcient
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildArea)
                                </td>
                                <td>
                                    @Model.BuildArea
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.UsableArea)
                                </td>
                                <td>
                                    @Model.UsableArea
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Floorage)
                                </td>
                                <td>
                                    @Model.Floorage
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildType)
                                </td>
                                <td>
                                    @Model.BuildType
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildStructure)
                                </td>
                                <td>
                                    @Model.BuildStructure
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildCost)
                                </td>
                                <td>
                                    @Model.BuildCost
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.CurrentValue)
                                </td>
                                <td>
                                    @Model.CurrentValue
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Classified)
                                </td>
                                <td>
                                    @Model.Classified
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.FundsSubject)
                                </td>
                                <td>
                                    @Model.FundsSubject
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.EquityNumber)
                                </td>
                                <td>
                                    @Model.EquityNumber
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildDate)
                                </td>
                                <td>
                                    @if (Model.BuildDate != null)
                                    {                                    
                                        @Convert.ToDateTime(Model.BuildDate).ToShortDateString();
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.FixedYear)
                                </td>
                                <td>
                                    @Model.FixedYear
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.DesignCompany)
                                </td>
                                <td>
                                    @Model.DesignCompany
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.ConstructCompany)
                                </td>
                                <td>
                                    @Model.ConstructCompany
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.ManageType)
                                </td>
                                <td>
                                    @Model.ManageType
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.UseType)
                                </td>
                                <td>
                                @{
                                    var type = (BuildingUseType)Model.UseType;
                                    @type.DisplayName(); 
                                }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Remark)
                                </td>
                                <td>
                                    @Model.Remark
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-actions">
                        <button type="submit" class="btn btn-danger">删除</button>
                        <a class="btn" href="@Url.Action("Details", new { controller = "BuildingGroup", id = Model.Id, area = "Admin" })">取消</a> 
                        <a class="btn" href="@Url.Action("List", new { controller = "BuildingGroup", area = "Admin" })">回到列表</a>                     
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var menu = $('a#building-group-manage');
        menuNavActive(menu);
    });
</script>