@model IEnumerable<Rhea.Model.Estate.BuildingGroup>

@{
    ViewBag.Title = "楼群列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-2 col-md-2">
        @Html.Action("Menu", "Estate")
    </div>

    <div class="col-lg-10 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>

            <div class="panel-body">
                <table id="building-group-list" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BuildingGroupId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BuildingCount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BuildArea) (m<sup>2</sup>)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsableArea) (m<sup>2</sup>)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sort)
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BuildingGroupId</td>
                                <td>@item.Name</td>
                                <td>@item.BuildingCount</td>
                                <td>@item.BuildArea</td>
                                <td>@item.UsableArea</td>
                                <td>@item.Sort</td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="@Url.Action("Details", new { controller = "BuildingGroup", id = item.BuildingGroupId, area = "Admin" })"><span class="glyphicon glyphicon-zoom-in"></span> 查看</a>
                                    <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", new { controller = "BuildingGroup", id = item.BuildingGroupId, area = "Admin" })"><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                    <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { controller = "BuildingGroup", id = item.BuildingGroupId, area = "Admin" })"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                    <a class="btn btn-info btn-sm" href="@Url.Action("List", new { controller = "Building", buildingGroupId = item.BuildingGroupId, area = "Admin" })"><span class="glyphicon glyphicon-chevron-right"></span> 楼宇</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            var dom = $('table#building-group-list');
            var oTable = initDataTable(dom);
            oTable.fnSort([[5, 'asc']]);

            menuNavActive($('a#building-group-manage'));
        })
    </script>
}