@{
    ViewBag.Title = "房产管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/kendoui")

@section breadcrumb {
    <li>@Html.ActionLink("房产管理", "Index", new { controller = "Home", area = "Estate" })</li>
}

<div class="row-fluid sortable">
    
    <div class="span9">       
        <div id="ajax-content1">
            @*@Html.Action("Map", "Home", new { area = "Estate" })*@
            @Html.Action("List", "BuildingGroup", new { area = "Estate" })
        </div>
    </div>
    <!--/span-->

    <div class="span3">    
        @Html.Action("Tree", "BuildingGroup", new { area = "Estate" })        
       
        @Html.Action("DepartmentNav", "Home", new { area = "Estate" })
    </div>
</div>
<!--/row-->

@section scripts {
    @Scripts.Render("~/bundles/kendoui") 
}
