@model Rhea.UI.Areas.Estate.Models.EstateHomeModel
@{
    ViewBag.Title = "房产概况";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/Plugins/gallery/camera/camera.css")" type="text/css" media="all"> 

 <!--Responsive navigation button-->  
<div class="resBtn">
    <a href="#"><span class="icon16 icomoon-icon-list-view-2"></span></a>
</div>

<!--Left Sidebar collapse button-->
<div class="collapseBtn leftbar">
    <a href="#" class="tip" data-placement="bottom" data-toggle="tooltip" title="Hide"><span class="icon12 icomoon-icon-arrow-first"></span></a>
</div>

<!--Sidebar background-->
<div id="sidebarbg"></div>

<!--Sidebar content-->
<div id="sidebar">
    <div class="shortcuts">
        <ul>
            <li><a href="#" title="Support" class="tip" data-placement="bottom" data-toggle="tooltip"><span class="icon24 icomoon-icon-support"></span></a></li>
            <li><a href="#" title="Backup" class="tip" data-placement="bottom" data-toggle="tooltip"><span class="icon24 icomoon-icon-database"></span></a></li>
            <li><a href="#" title="Statistics" class="tip" data-placement="bottom" data-toggle="tooltip"><span class="icon24 icomoon-icon-pie-2"></span></a></li>
            <li><a href="#" title="Request" class="tip" data-placement="bottom" data-toggle="tooltip"><span class="icon24 icomoon-icon-pencil"></span></a></li>
        </ul>
    </div>

    <div class="sidenav">

        <div class="sidebar-widget" style="margin: -1px 0 0 0;">
            <h5 class="title" style="margin-bottom:0">导航</h5>
        </div><!-- End .sidenav-widget -->

        <div class="mainnav">
            <ul>
                <li><a href="#" id="summary"><span class="icon16 icomoon-icon-newspaper"></span>摘要</a></li>
                <li><a href="#" id="land-certificate"><span class="icon16 icomoon-icon-font"></span>土地证</a></li>
                <li><a href="#" id="gallery"><span class="icon16 icomoon-icon-film-2"></span>展示</a></li>
            </ul>
        </div>
    </div><!-- End sidenav -->

    <div class="sidebar-widget">
        <h5 class="title">陆地面积</h5>
        <div class="content">
            <span class="icon16 icomoon-icon-loop left"></span>
            <div class="progress progress-mini progress-danger left tip" title="@Model.LandPercentage%">
                <div class="bar" style="width: @Model.LandPercentage%;"></div>
            </div>
            <span class="percent">@Model.LandPercentage%</span>
            <div class="stat">@Model.LandArea / @(Model.LandArea + Model.WaterArea) m<sup>2</sup></div>
        </div>
    </div><!-- End .sidenav-widget -->

    <div class="sidebar-widget">
        <h5 class="title">附加显示数据2</h5>
        <div class="content">
            <span class="icon16 icomoon-icon-drive left"></span>
            <div class="progress progress-mini progress-success left tip" title="16%">
                <div class="bar" style="width: 16%;"></div>
            </div>
            <span class="percent">16%</span>
            <div class="stat">304.44 / 8000 MB</div>
        </div>
    </div><!-- End .sidenav-widget -->

</div><!-- End #sidebar -->

<!--Body content-->
<div id="content" class="clearfix">
    <div class="contentwrapper">
        <!-- Build page from here: -->
        <div id="ajax-content1">
            @Html.Action("Summary", new { controller = "Home", area = "Estate" })
        </div>
        <!--End page -->
    </div>
</div><!-- End #content -->

@section scripts {
<script type="text/javascript" src="@Url.Content("~/Plugins/gallery/camera/camera.min.js")"></script> 
<script type="text/javascript">
    $(function () {
        $('.navbar .nav #nav-summary').parent().addClass('active');
        $('.tip').tooltip();

        $('a#summary').click(function() {
            ajaxLoadPage("Summary", "Home", "Estate", {});
            return false;
        });

        $('a#land-certificate').click(function () {
            ajaxLoadPage("LandCertificate", "Home", "Estate", {});
            return false;
        });

        $('a#gallery').click(function () {
            ajaxLoadPage("Gallery", "Home", "Estate", {});
            return false;
        });
    });
</script>
}