@{
    ViewBag.Title = "房产管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/kendoui")
<link href="@Url.Content("~/Areas/Estate/OpenLayers/theme/default/style.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/Estate/Content/map.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    #map
    {
        width: 100%;
        height: 600px;
    }
    #map img 
    {
        max-width: none;
    }
</style>

@section breadcrumb {
    <li>@Html.ActionLink("房产管理", "Index", new { controller = "Home", area = "Estate" })</li>
}

<div class="row-fluid sortable">
    
    <div class="span9">
    <div class="box">
        <div id="ajax-content1">        
        <div class="box-header well" data-original-title>
            <h2>
                <i class="icon-globe"></i>地图导航</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">           
           
            <div class="row-fluid">
                <div class="span12">
                    <div id="map">
                    </div>
                </div>
            </div>
       
        </div>
        </div>
    </div>
    </div>
    <!--/span-->

    <div class="span3">    
        <div class="box">
            <div class="box-header well" data-original-title>
                <h3>
                    楼群列表</h3>
                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content k-content">
                <ul id="treeview">
                    @foreach (var item in ViewBag.BuildingGroups)
                    {                    
                        <li><a class="buildingGroup" href="#" ref="@item.Id"><span>@item.Name</span></a>
                            <ul>
                                @foreach (var building in item.Buildings)
                                {
                                    <li><a class="building" ref="@building.Id"><span>@building.Name</span></a></li>
                                }
                            </ul>
                        </li>                               
                    }
                </ul>
            </div>
        </div>
        <!--/span-->    
        <div class="box">
            <div class="box-header well" data-original-title>
                <h3>
                    部门列表</h3>
                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">                
                <ul class="nav nav-list">
                    @foreach (var item in ViewBag.Departments)
                    {
                        <li><a class="department" href="#" ref="@item.Id"><span>@item.Name</span></a></li>
                    }                
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="box-header well" data-original-title>
                <h3>
                    添加数据</h3>
                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <p>
                    <button id="create-buildinggroup" class="btn btn-primary">添加楼群</button>               
                    <button id="create-building" class="btn btn-primary">添加楼宇</button>
                    <button id="create-room" class="btn btn-primary">添加房间</button>
                </p>
            </div>
        </div>
    </div>
</div>
<!--/row-->

@section scripts {
    @Scripts.Render("~/bundles/kendoui")


    <script src="@Url.Content("~/Areas/Estate/OpenLayers/lib/OpenLayers.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Estate/Scripts/maplayer.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            /*$.getJSON("/Estate/GetBuildingGroupList", function (json) {

            $.each(json, function (i, item) {
            $("#treeview").append("<li>"+ item.Name +"</li>");
            });
            });*/
            $("#treeview").kendoTreeView();

            $('a.buildingGroup').click(function () {
                var groupId = $(this).attr('ref');
                var request = { id: groupId };
                ajaxLoadPage("Details", "BuildingGroup", "Estate", request);
                return false;
            });

            $('a.building').click(function () {
                var buildingId = $(this).attr('ref');
                var request = { id: buildingId };
                ajaxLoadPage("Details", "Building", "Estate", request);
                return false;
            });

            $('button#create-buildinggroup').click(function () {
                ajaxLoadPage("Create", "BuildingGroup", "Estate", {});
                return false;
            });
        });

        //initMap();
    </script>
}
