@model Rhea.Model.Apartment.ResideRecord

@{
    ViewBag.Title = "居住记录详细";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Apartment.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Apartment")">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">居住记录管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th"></i>&nbsp;居住记录信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="width:20%;">属性</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model._id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model._id)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.RoomId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.RoomId)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        房间名称
                                    </td>
                                    <td>
                                        @Model.GetApartmentRoom().Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.InhabitantId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InhabitantId)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.InhabitantName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InhabitantName)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.InhabitantDepartmentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InhabitantDepartmentId)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.InhabitantDepartment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InhabitantDepartment)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ResideType)
                                    </td>
                                    <td>
                                        @{
                                            var type1 = (ResideType)Model.ResideType;
                                            @type1.DisplayName();
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Rent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Rent)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.EnterDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.EnterDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ExpireDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ExpireDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.TermLimit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.TermLimit)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.MonthCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.MonthCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.LeaveDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.LeaveDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.RegisterTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.RegisterTime)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ReceiptNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ReceiptNumber)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        附件
                                    </td>
                                    <td>
                                        @if (Model.Files != null && Model.Files.Length != 0)
                                        {
                                            for (int i = 0; i < Model.Files.Length; i++)
                                            {
                                                <a class="file-attach" href="@Model.Files[i]">附件_@i</a>
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Remark)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </td>
                                    <td>
                                        @switch ((EntityStatus)Model.Status)
                                        {
                                            case EntityStatus.Normal:
                                                <span class="label label-success">居住中</span>
                                                break;
                                            case EntityStatus.OverTime:
                                            <span class="label label-danger">超期</span>
                                                break;
                                            case EntityStatus.ExtendTime:
                                            <span class="label label-warning">延期</span>
                                                break;
                                            case EntityStatus.MoveOut:
                                            <span class="label label-default">已搬出</span>
                                                break;
                                            case EntityStatus.ExtendOut:
                                            <span class="label bg-grey-cascade">已延期</span>
                                                break;
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        最后编辑时间
                                    </td>
                                    <td>
                                        @Model.Log.Time.ToDateTimeString()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        最后编辑人
                                    </td>
                                    <td>
                                        @Model.Log.UserName
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr />
                <p>
                    <a href="@Url.Action("List", new { controller = "ResideRecord" })" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                    <a href="@Url.Action("Edit", new { controller = "ResideRecord", id = Model._id })" class="btn btn-warning" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#apartment-nav'));
            Rhea.leftNavActive($('#reside-record-list-menu'));
        });
    </script>
}
