@model Rhea.UI.Models.ChangePasswordModel

@{
    ViewBag.Title = "修改密码";
    Layout = null;
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "ajax-content1",
        Url = Url.Action("ChangePassword", "Account", new { area = "" })
    };  
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2><i class="icon-th-list"></i>@ViewBag.Title</h2>    
    </div>

    <div class="box-content">
        <div class="row-fluid">
            <div class="span12">
            @using (Ajax.BeginForm(ajaxOpts))
            {                 
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset>                    
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    属性
                                </th>
                                <th>
                                    值
                                </th>                         
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.OldPassword)
                
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.OldPassword)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.NewPassword)
                
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.NewPassword)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(m => m.ConfirmPassword)
                
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                </td>
                            </tr>                          
                        </tbody>
                    </table>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">更改密码</button>                       
                    </div>
                </fieldset>
             }
            </div>
        </div>
    </div>
</div>

