@model Rhea.UI.Models.ChangePasswordModel

@{
    ViewBag.Title = "修改密码";
    Layout = null;
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "ajax-content1",
        Url = Url.Action("ChangePassword", "Account", new { area = "" })
    };  
}

@Html.Action("Heading", new { controller = "Common", area = "", title = ViewBag.Title, active = "用户设置" })

<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="title">
                <h4>
                    <span class="icon16 icomoon-icon-locked-3"></span><span>@ViewBag.Title</span>
                </h4>
                <a href="#" class="minimize">Minimize</a>
            </div>

            <div class="content">
                <div class="row-fluid">
                    <div class="span12">
                    @using (Ajax.BeginForm(ajaxOpts))
                    {                 
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>                    
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            属性
                                        </th>
                                        <th>
                                            值
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(m => m.OldPassword)
                                        </td>
                                        <td>
                                            @Html.PasswordFor(m => m.OldPassword)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(m => m.NewPassword)
                
                                        </td>
                                        <td>
                                            @Html.PasswordFor(m => m.NewPassword)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(m => m.ConfirmPassword)
                
                                        </td>
                                        <td>
                                            @Html.PasswordFor(m => m.ConfirmPassword)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">更改密码</button>
                            </div>
                        </fieldset>
                     }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>