@model Rhea.Model.Account.User

@{
    ViewBag.Title = "用户信息";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";
    AjaxOptions ajaxOpts3 = new AjaxOptions
    {
        UpdateTargetId = "result-content3",
        Url = Url.Action("ChangePassword", "Account"),
        HttpMethod = "POST"
    };
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Account")">用户管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row profile">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab">
                        摘要
                    </a>
                </li>
                <li>
                    <a href="#tab_1_2" data-toggle="tab">
                        账户
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled profile-nav">
                                <li>
                                    <img src="@Model.AvatarUrl" class="img-responsive" alt="照片" style="margin:0px auto;" />
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 portfolio-info">
                            <h1>@Model.Name <small>@Model.UserName</small></h1>
                            <p>
                                @Model.Remark
                            </p>
                            <ul class="list-inline">
                                <li>
                                    <i class="fa fa-map-marker"></i> Spain
                                </li>
                                <li>
                                    <i class="fa fa-calendar"></i> 18 Jan 1982
                                </li>
                                <li>
                                    <i class="fa fa-briefcase"></i> Design
                                </li>
                                <li>
                                    <i class="fa fa-star"></i> Top Seller
                                </li>
                                <li>
                                    <i class="fa fa-heart"></i> BASE Jumping
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="portlet profile-summary">
                                <div class="portlet-title">
                                    <div class="caption">
                                        用户信息
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="sale-info">
                                                @Html.DisplayNameFor(model => model.UserId)
                                            </span>
                                            <span class="sale-num">
                                                @Html.DisplayFor(model => model.UserId)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                @Html.DisplayNameFor(model => model.UserName)
                                            </span>
                                            <span class="sale-num">
                                                @Html.DisplayFor(model => model.UserName)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                @Html.DisplayNameFor(model => model.Name)
                                            </span>
                                            <span class="sale-num">
                                                @Html.DisplayFor(model => model.Name)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                @Html.DisplayNameFor(model => model.UserGroupId)
                                            </span>
                                            <span class="sale-num">
                                                @Model.UserGroupTitle()
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                @Html.DisplayNameFor(model => model.LastLoginTime)
                                            </span>
                                            <span class="sale-num">
                                                @Html.DisplayFor(model => model.LastLoginTime)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                @Html.DisplayNameFor(model => model.CurrentLoginTime)
                                            </span>
                                            <span class="sale-num">
                                                @Html.DisplayFor(model => model.CurrentLoginTime)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                @Html.DisplayNameFor(model => model.DepartmentId)
                                            </span>
                                            <span class="sale-num">
                                                @Html.DisplayFor(model => model.DepartmentId)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                @Html.DisplayNameFor(model => model.IsSystem)
                                            </span>
                                            <span class="sale-num">
                                                @if (Model.IsSystem)
                                                {
                                                    <span>是</span>
                                                }
                                                else
                                                {
                                                    <span>否</span>
                                                }
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row-->
                </div>
                <div class="tab-pane" id="tab_1_2">
                    <div class="row profile-account">
                        <div class="col-md-2">
                            <ul class="ver-inline-menu tabbable margin-bottom-10">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab_1_2_1">
                                        <i class="fa fa-cog"></i> 修改信息
                                    </a>
                                    <span class="after">
                                    </span>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_avatar">
                                        <i class="fa fa-picture-o"></i> 修改头像
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_1_2_3">
                                        <i class="fa fa-lock"></i> 修改密码
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div id="tab_1_2_1" class="tab-pane active">
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">First Name</label>
                                            <input type="text" placeholder="John" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" placeholder="Doe" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Mobile Number</label>
                                            <input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Interests</label>
                                            <input type="text" placeholder="Design, Web etc." class="form-control" />
                                        </div>
                                        <div class="margiv-top-10">
                                            <a href="#" class="btn green">
                                                Save Changes
                                            </a>
                                            <a href="#" class="btn default">
                                                Cancel
                                            </a>
                                        </div>
                                    </form>
                                </div>
                                <div id="tab_avatar" class="tab-pane">
                                    <div id="result-content2"></div>
                                    <p>请选择图片，图片大小不能超过1M。图片会缩放成256x256大小。</p>
                                    <form id="avatar-form" role="form" method="post" enctype="multipart/form-data">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 256px; height: 256px;">
                                                    <img src="@Model.AvatarUrl" alt="" />
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 256px; max-height: 256px;">
                                                </div>
                                                <div>
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new">
                                                            选择图片
                                                        </span>
                                                        <span class="fileinput-exists">
                                                            修改
                                                        </span>
                                                        <input type="file" name="avatarfile" id="avatarfile">
                                                    </span>
                                                    <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">
                                                        删除
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="margin-top-10">
                                            <input type="submit" class="btn green" value="保存" />
                                            <input type="reset" class="btn default" value="取消" />
                                        </div>
                                    </form>
                                </div>
                                <div id="tab_1_2_3" class="tab-pane">
                                    <div id="result-content3"></div>
                                    @using (Ajax.BeginForm("ChangePassword", new { controller = "Account" }, ajaxOpts3, new { id = "change-password-form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label class="control-label">当前密码</label>
                                            <input type="password" name="oldPassword" id="oldPassword" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">新密码</label>
                                            <input type="password" name="newPassword" id="newPassword" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">密码确认</label>
                                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" />
                                        </div>
                                        <div class="margin-top-10">
                                            <button type="submit" class="btn green"><i class="fa fa-save"></i>&nbsp;保 存</button>
                                            <button type="reset" class="btn default"><i class="fa fa-eraser"></i>&nbsp;取 消</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--end col-md-9-->
                    </div>
                </div>
                <!--end tab-pane-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.leftNavActive($('#account-index-menu'));
            Account.init();

            $('#avatar-form').ajaxForm({
                target: '#result-content2',
                url: '/Account/UploadAvatar'
            });

        });
    </script>
}
