@model Rhea.Model.Account.UserProfile
@{
    ViewBag.Title = "用户摘要";
    Layout = null;
}

@Html.Action("Heading", new { controller = "Common", area = "", title = ViewBag.Title, active = "用户信息" })

<div class="row-fluid">
    <div class="span6">
        <div class="box">
            <div class="title">
                <h4>
                    <span class="icon16 icomoon-icon-user"></span>
                    <span>用户信息</span>
                </h4>
                <a href="#" class="minimize">Minimize</a>
            </div>

            <div class="content">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
                    <dd>@Model.UserName</dd>
                    <dt>@Html.DisplayNameFor(model => model.UserGroupName)</dt>
                    <dd>@Model.UserGroupTitle()</dd>
                    <dt>@Html.DisplayNameFor(model => model.CurrentLoginTime)</dt>
                    <dd>@Model.CurrentLoginTime</dd>
                    <dt>@Html.DisplayNameFor(model => model.LastLoginTime)</dt>
                    <dd>@Model.LastLoginTime</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
