
@{
    ViewBag.Title = "房产管理菜单";
    Layout = null;
}

<div id="sidebar-left" class="col-xs-2 col-sm-2 col-lg-10">
    <ul class="nav main-menu">
        <li>
            <a href="@Url.Action("Index", "Estate")" class="active">
                <i class="fa fa-dashboard"></i>
                <span class="hidden-xs">房产主页</span>
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-university"></i>
                <span class="hidden-xs">校区管理</span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("List", "Campus")" id="campus-list-menu">校区列表</a></li>
                <li><a href="#">添加校区</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-building"></i>
                <span class="hidden-xs">建筑管理</span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("List", "Building")" id="building-list-menu">建筑列表</a></li>
                <li><a href="@Url.Action("Create", "Building")" id="building-create-menu">添加建筑</a></li>
                <li><a href="@Url.Action("Sync", "Building")" id="building-sync-menu">同步建筑</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-pencil-square-o"></i>
                <span class="hidden-xs">房间管理</span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="ajax-link" href="ajax/forms_elements.html">Elements</a></li>
                <li><a class="ajax-link" href="ajax/forms_layouts.html">Layouts</a></li>
                <li><a class="ajax-link" href="ajax/forms_file_uploader.html">File Uploader</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-desktop"></i>
                <span class="hidden-xs">UI Elements</span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="ajax-link" href="ajax/ui_grid.html">Grid</a></li>
                <li><a class="ajax-link" href="ajax/ui_buttons.html">Buttons</a></li>
                <li><a class="ajax-link" href="ajax/ui_progressbars.html">Progress Bars</a></li>
                <li><a class="ajax-link" href="ajax/ui_jquery-ui.html">Jquery UI</a></li>
                <li><a class="ajax-link" href="ajax/ui_icons.html">Icons</a></li>
            </ul>
        </li>
        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-map-marker"></i>
                <span class="hidden-xs">Maps</span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="ajax-link" href="ajax/maps.html">OpenStreetMap</a></li>
                <li><a class="ajax-link" href="ajax/map_fullscreen.html">Fullscreen map</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-picture-o"></i>
                <span class="hidden-xs">Gallery</span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="ajax-link" href="ajax/gallery_simple.html">Simple Gallery</a></li>
                <li><a class="ajax-link" href="ajax/gallery_flickr.html">Flickr Gallery</a></li>
            </ul>
        </li>
        <li>
            <a class="ajax-link" href="#">
                <i class="fa fa-font"></i>
                <span class="hidden-xs">Typography</span>
            </a>
        </li>
    </ul>
</div>

