@model Rhea.Model.Estate.Building

@{
    ViewBag.Title = "添加建筑";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Estate.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Estate")">房产管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">建筑管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>添加建筑
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>建筑属性</legend>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-2">属性</th>
                                    <th class="col-md-8">值</th>
                                    <th class="col-md-2">验证</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.BuildingId)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.BuildingId, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.BuildingId, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.ImageUrl)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.PartMapUrl)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.PartMapUrl, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.PartMapUrl, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.CampusId)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.CampusId, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.CampusId, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.OrganizeType)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.OrganizeType, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.OrganizeType, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.ParentId)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.ParentId, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.HasChild)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.HasChild, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.HasChild, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.UseType)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.UseType, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.UseType, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.BuildArea)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.BuildArea, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.BuildArea, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.UsableArea)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.UsableArea, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.UsableArea, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Floorage)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Floorage, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.Floorage, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.AreaCoeffcient)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.AreaCoeffcient, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.AreaCoeffcient, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.BuildType)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.BuildType, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.BuildType, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.BuildStructure)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.BuildStructure, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.BuildStructure, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.BuildCost)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.BuildCost, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.BuildCost, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.CurrentValue)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.CurrentValue, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.CurrentValue, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Classified)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Classified, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.Classified, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.FundsSubject)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.FundsSubject, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.FundsSubject, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.EquityNumber)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.EquityNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.EquityNumber, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.BuildDate)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.BuildDate, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.BuildDate, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.FixedYear)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.FixedYear, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.FixedYear, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.DesignCompany)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.DesignCompany, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.DesignCompany, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.ConstructCompany)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.ConstructCompany, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.ConstructCompany, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.ManageType)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.ManageType, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.ManageType, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Sort)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Sort, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <p>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;添加</button>
                            <a href="@Url.Action("List", new { controller = "Building" })" class="btn btn-default" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                        </p>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            topNavActive($('#estate-nav'));
            leftNavActive($('#building-create-menu'));

            $('#BuildDate').datepicker({
                format: "yyyy-mm-dd",
                weekStart: 7,
                language: "zh-CN",
                autoclose: true
            });
        });
    </script>
}
