@model Rhea.Model.Estate.Building

@{
    ViewBag.Title = "楼宇信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-2 col-md-2">
        @Html.Action("Menu", "Estate")
    </div>

    <div class="col-lg-10 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>

            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:20%;">
                                属性
                            </th>
                            <th style="width:80%;">
                                值
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td>
                                @Model.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.BuildArea)
                            </td>
                            <td>
                                @Model.BuildArea
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UsableArea)
                            </td>
                            <td>
                                @Model.UsableArea
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.AboveGroundFloor)
                            </td>
                            <td>
                                @Model.AboveGroundFloor
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UnderGroundFloor)
                            </td>
                            <td>
                                @Model.UnderGroundFloor
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UseType)
                            </td>
                            <td>
                                @{
    //var type = (BuildingUseType)Model.UseType;
    // @type.DisplayName();
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Remark)
                            </td>
                            <td>
                                @Model.Remark
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Log.UserName)
                            </td>
                            <td>
                                @Model.Log.UserName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Log.Time)
                            </td>
                            <td>
                                @Model.Log.Time
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />

                <p>
                    <a class="btn btn-success" href="@Url.Action("List", new { controller = "Building", buildingGroupId = Model.BuildingGroupId, area = "Admin" })"><i class="glyphicon glyphicon-list"></i> 楼宇列表</a>
                    <a class="btn btn-warning" href="@Url.Action("Edit", new { controller = "Building", id = Model.BuildingId, area = "Admin" })"><i class="glyphicon glyphicon-edit"></i> 编辑</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { controller = "Building", id = Model.BuildingId, area = "Admin" })"><i class="glyphicon glyphicon-remove"></i> 删除</a>
                    <a class="btn btn-primary" href="@Url.Action("CreateFloor", new { controller = "Building", buildingId = Model.BuildingId, area = "Admin" })"><i class="glyphicon glyphicon-plus"></i> 添加楼层</a>
                    <a class="btn btn-info" href="@Url.Action("ListByBuilding", new { controller = "Room", buildingId = Model.BuildingId, area = "Admin" })"><i class="glyphicon glyphicon-th-large"></i> 房间</a>
                </p>
            </div>
        </div>    

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">楼层列表</h3>
            </div>

            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                名称
                            </th>
                            <th>
                                编号
                            </th>
                            <th>
                                建筑面积
                            </th>
                            <th>
                                使用面积
                            </th>
                            <th>
                                平面图
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Floors)
                        {
                            <tr>
                                <td>
                                    @item.FloorId
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Number
                                </td>
                                <td>
                                    @item.BuildArea
                                </td>
                                <td>
                                    @item.UsableArea
                                </td>
                                <td>
                                    @item.ImageUrl
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" href="@Url.Action("UploadSvg", new { controller = "Building", buildingId = Model.BuildingId, floorId = item.FloorId, area = "Admin" })"><span class="glyphicon glyphicon-upload"></span> 上传平面图</a>
                                    <a class="btn btn-warning btn-sm" href="@Url.Action("EditFloor", new { controller = "Building", buildingId = Model.BuildingId, floorId = item.FloorId, area = "Admin" })"><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                    <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteFloor", new { controller = "Building", buildingId = Model.BuildingId, floorId = item.FloorId, area = "Admin" })"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            menuNavActive($('a#building-manage'));
        })
    </script>
}