@model Rhea.Model.Estate.Floor

@{
    ViewBag.Title = "楼层编辑";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-tasks"></i>楼层信息</h2>
    </div>
    <div class="box-content">
        <div class="row-fluid">
            <div class="span12">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>楼层编辑</legend>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.Hidden("BuildingId")

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 20%">
                                    属性
                                </th>
                                <th style="width: 80%">
                                    值
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Number)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Number)
                                    @Html.ValidationMessageFor(model => model.Number)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Name)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.ImageUrl)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ImageUrl)
                                    @Html.ValidationMessageFor(model => model.ImageUrl)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BuildArea)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.BuildArea)
                                    @Html.ValidationMessageFor(model => model.BuildArea)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.UsableArea)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.UsableArea)
                                    @Html.ValidationMessageFor(model => model.UsableArea)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Remark)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Remark)
                                    @Html.ValidationMessageFor(model => model.Remark)
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">保存</button>
                        <a class="btn" href="@Url.Action("Details", new { controller = "Building", id = ViewBag.BuildingId, area = "Admin" })">取消</a>                         
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var menu = $('a#building-manage');
        menuNavActive(menu);
    });
</script>