@model Rhea.Model.Estate.Floor

@{
    ViewBag.Title = "楼层删除";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Estate.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Estate")">房产管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">建筑管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-minus-square"></i>&nbsp;楼层删除
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning">
                            <strong>警告!</strong> 请确认是否删除该楼层，本操作会直接删除楼层数据！
                        </div>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-4">属性</th>
                                    <th class="col-md-8">值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Number)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.BuildArea)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.UsableArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.UsableArea)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ImageUrl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ImageUrl)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Remark)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Status)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("BuildingId")
                            @Html.HiddenFor(model => model.FloorId)
                            @Html.HiddenFor(model => model.Name)

                            <div class="form-actions no-color">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-minus-circle"></i>&nbsp;删除</button>
                                <a href="@Url.Action("Details", new { controller = "Building", id = ViewBag.BuildingId })" class="btn btn-default" role="button"><i class="fa fa-list"></i>&nbsp;取消</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#estate-nav'));
            Rhea.leftNavActive($('#building-list-menu'));
        });
    </script>
}
