@model Rhea.Model.Estate.Subregion

@{
    ViewBag.Title = "分区信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Estate.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Estate")">房产管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">建筑管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th"></i>分区信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>属性</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildingId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.BuildingId)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ImageUrl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ImageUrl)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.PartMapUrl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PartMapUrl)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.CampusId)
                                    </td>
                                    <td>
                                        @Model.CampusName()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.OrganizeType)
                                    </td>
                                    <td>
                                        @{
                                            var type1 = (BuildingOrganizeType)Model.OrganizeType;
                                            @type1.DisplayName();
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ParentId)
                                    </td>
                                    <td>
                                        @Model.ParentName()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.HasChild)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.HasChild)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.UseType)
                                    </td>
                                    <td>
                                        @{
                                            var type2 = (BuildingUseType)Model.UseType;
                                            @type2.DisplayName();
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.AboveGroundFloor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.AboveGroundFloor)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.UnderGroundFloor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.UnderGroundFloor)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.BuildArea)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.UsableArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.UsableArea)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Floorage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Floorage)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.AreaCoeffcient)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.AreaCoeffcient)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xs-12 col-lg-6">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>属性</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.BuildType)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildStructure)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.BuildStructure)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildCost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.BuildCost)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.CurrentValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.CurrentValue)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Classified)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Classified)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.FundsSubject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.FundsSubject)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.EquityNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.EquityNumber)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.BuildDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.FixedYear)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.FixedYear)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.DesignCompany)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DesignCompany)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ConstructCompany)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ConstructCompany)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ManageType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ManageType)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Sort)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Sort)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Remark)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Status)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <hr />

                <p>
                    <a href="@Url.Action("List", new { controller = "Building" })" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                    <a href="@Url.Action("Details", new { controller = "Building", id = Model.ParentId })" class="btn btn-info" role="button"><i class="fa fa-arrow-circle-o-up"></i>&nbsp;回到楼群</a>
                    <a href="@Url.Action("Edit", new { controller = "Building", id = Model.BuildingId })" class="btn btn-warning" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th-list"></i>楼层信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                编号
                            </th>
                            <th>
                                名称
                            </th>
                            <th>
                                建筑面积
                            </th>
                            <th>
                                使用面积
                            </th>
                            <th>
                                平面图
                            </th>
                            <th>
                                备注
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Floors)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Number
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.BuildArea
                                </td>
                                <td>
                                    @item.UsableArea
                                </td>
                                <td>
                                    @item.ImageUrl
                                </td>
                                <td>
                                    @item.Remark
                                </td>
                                <td>
                                    <a href="@Url.Action("EditFloor", new { controller = "Building", buildingId = Model.BuildingId, floorId = item.Id })" class="btn btn-warning btn-sm" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#estate-nav'));
            Rhea.leftNavActive($('#building-list-menu'));
        });
    </script>
}
