@model IEnumerable<Rhea.Model.Account.Privilege>

@{
    ViewBag.Title = "权限列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Advance.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Advance")">高级管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">权限管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;权限列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="privilege-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model._id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rank)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsWrite)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item._id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rank)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsWrite)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <hr />
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#advance-nav'));
            Rhea.leftNavActive($('#privilege-list-menu'));

            Rhea.initDatatable($('#privilege-table'));
        });
    </script>
}
