@model Rhea.Model.Estate.Room

@{
    ViewBag.Title = "房间基本信息";
    Layout = null;
}

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:30%">
                        属性
                    </th>
                    <th style="width:70%">
                        值
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Number)
                    </td>
                    <td>
                        @Model.Number
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td>
                        @Model.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        一级分类
                    </td>
                    <td>
                        @Model.Function.ClassifyName
                    </td>
                </tr>
                <tr>
                    <td>
                        二级分类
                    </td>
                    <td>
                        @Model.Function.Property
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DepartmentId)
                    </td>
                    <td>
                        @Model.DepartmentName()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.BuildingId)
                    </td>
                    <td>
                        @Model.BuildingName()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Floor)
                    </td>
                    <td>
                        @Model.Floor / @Model.TotalFloor()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.BuildArea)
                    </td>
                    <td>
                        @Model.BuildArea m<sup>2</sup>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.UsableArea)
                    </td>
                    <td>
                        @Model.UsableArea m<sup>2</sup>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Span)
                    </td>
                    <td>
                        @Model.Span
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Orientation)
                    </td>
                    <td>
                        @Model.Orientation
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.RoomStatus)
                    </td>
                    <td>
                        @Model.RoomStatus
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
