@model IEnumerable<Rhea.Model.Estate.Room>

@{
    ViewBag.Title = "房间列表";
    Layout = null;
    int rank = User.Rank();
}

@Html.Action("RoomFunction", new { controller = "Room", area = "Estate" })

<div class="box">
    <div class="title">
        <h4>
            <span class="icon16 icomoon-icon-list-view"></span><span>@ViewBag.Title</span>
        </h4>
        <a href="#" class="minimize">Minimize</a>
    </div>

    <div class="content">
        <table id="room-list" class="responsive dynamicTable display table table-bordered">
            <thead>
                <tr>
                    <th>
                        房间号
                    </th>
                    <th>
                        名称
                    </th>
                    <th>
                        楼宇
                    </th>
                    <th>
                        部门
                    </th>
                    <th>
                        功能
                    </th>
                    <th>
                        使用面积(m<sup>2</sup>)
                    </th>
                    <th style="width:80px;">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Number
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.BuildingName()
                        </td>
                        <td>
                            @item.DepartmentName()
                        </td>
                        <td>
                            <span style="display:none;">@item.Function.ClassifyName</span>
                            @item.Function.Property
                        </td>
                        <td>
                            @item.UsableArea
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-success btn-small room-intro" ref="@item.Id"><span class="icon-zoom-in icon-white"></span> 查看</a>
                                <a class="btn btn-success btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="room-details" ref="@item.Id"><span class="icon-flag"></span> 信息</a></li>
                                    @if (rank >= 650)
                                    {
                                    <li><a href="#" class="room-assign" ref="@item.Id"><span class="icon-screenshot"></span> 分配</a></li>
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">房间基本信息</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('table a.room-intro').click(function () {
            var url = "/Estate/Room/Intro/" + $(this).attr('ref');
            $('.modal-body').load(url);
            $('#myModal').modal();

            return false;
        });

        $('table a.room-details').click(function () {
            var id = $(this).attr('ref');
            ajaxContentLoadPage("Details", "Room", "Estate", { id: id }, $('#ajax-content2'));
            return false;
        });

        $('table a.room-assign').click(function () {
            var id = $(this).attr('ref');
            ajaxContentLoadPage("Assign", "Room", "Estate", { id: id }, $('#ajax-content2'));
            return false;
        });

        var dom = $('table#room-list');
        var oTable = initDataTable(dom);
        oTable.fnSort([[0, 'asc']]);

        setBoxAction();

        $('#first-select').change(function () {
            var fid = $(this).val();
            var text = $(this).find("option:selected").text();
            if (fid != 0) {
                oTable.fnFilter(text, 4);
            } else {
                oTable.fnFilter('', 4);
            }
        });

        $('#second-select').change(function () {
            var sid = $(this).val();
            var text = $(this).find("option:selected").text();
            if (sid != 0) {
                oTable.fnFilter(text, 4);
            } else {
                var fid = $('#first-select').val();
                var ftext = $('#first-select').find("option:selected").text();
                if (fid != 0)
                    oTable.fnFilter(ftext, 4);
                else
                    oTable.fnFilter('', 4);
            }
        });
    });
</script>
