@model IEnumerable<Rhea.Model.Estate.Room>

@{
    ViewBag.Title = "房间列表";
    Layout = null;
}


<div class="box">
    <div class="title">
        <h4>
            <span class="icon16 icomoon-icon-list-view"></span><span>@ViewBag.Title</span>
        </h4>
        <a href="#" class="minimize">Minimize</a>
    </div>

    <div class="content">
        <table id="room-list" class="responsive dynamicTable display table table-bordered">
            <thead>
                <tr>
                    <th>
                        房间号
                    </th>
                    <th>
                        名称
                    </th>
                    <th>
                        楼层
                    </th>
                    <th>
                        部门
                    </th>
                    <th>
                        功能
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Number
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Floor
                    </td>
                    <td>
                        @item.DepartmentName()
                    </td>
                    <td>
                        @item.Function.Property
                    </td>
                    <td>
                        <a class="btn btn-success btn-small room-details" ref="@item.Id">
                        <i class="icon-zoom-in icon-white"></i>查看</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dom = $('table#room-list');
        initDataTable(dom);
    });
</script>

