@model Rhea.Model.Apartment.Inhabitant

@{
    ViewBag.Title = "住户详细";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Apartment.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Apartment")">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">住户管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th"></i>住户信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="width:20%;">属性</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model._id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model._id)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.JobNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.JobNumber)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Gender)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Type)
                                    </td>
                                    <td>
                                        @ViewBag.Type
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.DepartmentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DepartmentId)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DepartmentName)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Duty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Duty)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Telephone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Telephone)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.IdentityCard)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.IdentityCard)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Education)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Education)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.IsCouple)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.IsCouple)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Marriage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Marriage)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.AccumulatedFundsDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.AccumulatedFundsDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.LiHuEnterDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.LiHuEnterDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.PhotoUrl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PhotoUrl)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Remark)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </td>
                                    <td>
                                        @switch ((EntityStatus)Model.Status)
                                        {
                                            case EntityStatus.Normal:
                                                <span class="label label-success">居住中</span>
                                                break;
                                            case EntityStatus.InhabitantMoveOut:
                                            <span class="label label-normal">已搬出</span>
                                                break;
                                            case EntityStatus.InhabitantExtend:
                                            <span class="label label-warning">延期居住</span>
                                                break;
                                            case EntityStatus.InhabitantExpire:
                                            <span class="label label-danger">超期居住</span>
                                                break;
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        最后编辑时间
                                    </td>
                                    <td>
                                        @Model.Log.Time.ToDateTimeString()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        最后编辑人
                                    </td>
                                    <td>
                                        @Model.Log.UserName
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr />
                <p>
                    <a href="@Url.Action("List", new { controller = "Inhabitant" })" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                    <a href="@Url.Action("Edit", new { controller = "Inhabitant", id = Model._id })" class="btn btn-warning" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#apartment-nav'));
            Rhea.leftNavActive($('#inhabitant-list-menu'));
        });
    </script>
}
