@model IEnumerable<Rhea.Model.Apartment.Inhabitant>

@{
    ViewBag.Title = "住户列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Apartment.cshtml";

    DictionaryBusiness business = new DictionaryBusiness();
    var types = business.GetPairProperty("InhabitantType");
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Apartment")">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">住户管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>住户列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="inhabitant-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.JobNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DepartmentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DepartmentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.JobNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @types[item.Type]                                    
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentId)
                                </td>
                                <td>
                                    @switch ((EntityStatus)item.Status)
                                    {
                                        case EntityStatus.Normal:
                                        <span class="label label-success">居住中</span>
                                            break;
                                        case EntityStatus.InhabitantMoveOut:
                                        <span class="label label-default">已搬出</span>
                                            break;
                                        case EntityStatus.InhabitantExtend:
                                        <span class="label label-warning">延期居住</span>
                                            break;
                                        case EntityStatus.InhabitantExpire:
                                        <span class="label label-danger">超期居住</span>
                                            break;
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", new { controller = "Inhabitant", id = item._id })" class="btn btn-info btn-sm" role="button"><i class="fa fa-check-circle"></i>&nbsp;查看</a>
                                    <a href="@Url.Action("Edit", new { controller = "Inhabitant", id = item._id })" class="btn btn-warning btn-sm" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#apartment-nav'));
            Rhea.leftNavActive($('#inhabitant-list-menu'));

            Rhea.initDatatable2($('#inhabitant-table'));
        });
    </script>
}
