@model Rhea.Model.Estate.Room

@{
    ViewBag.Title = "房间信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Estate.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Estate")">房产管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">房间管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1" data-toggle="tab">
                        基本信息
                    </a>
                </li>
                <li>
                    <a href="#tab_2" data-toggle="tab">
                        附加信息
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>属性</th>
                                        <th>值</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model._id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model._id)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.RoomId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.RoomId)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Name)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Number)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Number)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Floor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Floor)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Span)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Span)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Orientation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Orientation)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.BuildArea)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.BuildArea)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.UsableArea)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.UsableArea)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.ImageUrl)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ImageUrl)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.BuildingId)
                                        </td>
                                        <td>
                                            @Model.BuildingName()
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.DepartmentId)
                                        </td>
                                        <td>
                                            @Model.DepartmentName()
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>属性</th>
                                        <th>值</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Function.CodeId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Function.CodeId)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Function.ClassifyName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Function.ClassifyName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Function.FunctionProperty)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Function.FunctionProperty)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.StartDate)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.FixedYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.FixedYear)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.PersonNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.PersonNumber)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.RoomStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.RoomStatus)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Remark)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Remark)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Status)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            编辑人
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Log.UserName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            编辑时间
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Log.Time)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>属性</th>
                                        <th>值</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Heating)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Heating)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.FireControl)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.FireControl)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Height)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Height)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.EWWidth)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.EWWidth)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.SNWidth)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.SNWidth)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.InternationalId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.InternationalId)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.EducationId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.EducationId)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.PowerSupply)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.PowerSupply)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.AirCondition)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.AirCondition)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>属性</th>
                                        <th>值</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.HasSecurity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.HasSecurity)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.HasChemical)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.HasChemical)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.HasTrash)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.HasTrash)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.HasSecurityCheck)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.HasSecurityCheck)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.PressureContainer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.PressureContainer)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Cylinder)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Cylinder)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.HeatingInAeration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.HeatingInAeration)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.HasTestBed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.HasTestBed)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.UsageCharge)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.UsageCharge)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            <a href="@Url.Action("Details", new { controller = "Building", id = Model.BuildingId })" class="btn btn-primary blue-hoki" role="button"><i class="fa fa-building"></i>&nbsp;回到建筑</a>
            <a href="@Url.Action("ListByBuilding", new { controller = "Room", buildingId = Model.BuildingId })" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
            <a href="@Url.Action("Edit", new { controller = "Room", id = Model.RoomId })" class="btn btn-warning" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
        </p>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#estate-nav'));
            Rhea.leftNavActive($('#room-list-menu'));
        });
    </script>
}

