@model Rhea.Model.Estate.Room
@using Rhea.Business

@{
    ViewBag.Title = "房间信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Estate.cshtml";
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-th-list"></i>房间信息</h2>
    </div>

    <div class="box-content">
        <div class="page-header">
            <h1>
                @Model.Name <small>Id: @Model.Id</small></h1>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#info">基础信息</a></li>
                    <li><a href="#additional">附加信息</a></li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active" id="info">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:20%">
                                        属性
                                    </th>
                                    <th style="width:80%">
                                        值
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Number)
                                    </td>
                                    <td>
                                        @Model.Number
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Model.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Floor)
                                    </td>
                                    <td>
                                        @Model.Floor
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Span)
                                    </td>
                                    <td>
                                        @Model.Span
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Orientation)
                                    </td>
                                    <td>
                                        @Model.Orientation
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildArea)
                                    </td>
                                    <td>
                                        @Model.BuildArea
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.UsableArea)
                                    </td>
                                    <td>
                                        @Model.UsableArea
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ImageUrl)
                                    </td>
                                    <td>
                                        @Model.ImageUrl
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Function)
                                    </td>
                                    <td>
                                        @Model.Function.Property
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildingId)
                                    </td>
                                    <td>
                                        @Model.BuildingName()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.DepartmentId)
                                    </td>
                                    <td>
                                        @Model.DepartmentName()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </td>
                                    <td>
                                        @if (Model.StartDate != null)
                                        {
                                            @Convert.ToDateTime(Model.StartDate).ToShortDateString();
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.FixedYear)
                                    </td>
                                    <td>
                                        @Model.FixedYear
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Manager)
                                    </td>
                                    <td>
                                        @Model.Manager
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.PersonNumber)
                                    </td>
                                    <td>
                                        @Model.PersonNumber
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.RoomStatus)
                                    </td>
                                    <td>
                                        @Model.RoomStatus
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Editor.Name)
                                    </td>
                                    <td>
                                        @Model.Editor.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Editor.Time)
                                    </td>
                                    <td>
                                        @Model.Editor.Time
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Model.Remark
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="additional">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 20%">
                                        属性
                                    </th>
                                    <th style="width: 80%">
                                        值
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Heating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Heating)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.FireControl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.FireControl)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Height)
                                    </td>
                                    <td>
                                        @Model.Height
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.EWWidth)
                                    </td>
                                    <td>
                                        @Model.EWWidth
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.SNWidth)
                                    </td>
                                    <td>
                                        @Model.SNWidth
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.InternationalId)
                                    </td>
                                    <td>
                                        @Model.InternationalId
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.EducationId)
                                    </td>
                                    <td>
                                        @Model.EducationId
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.PowerSupply)
                                    </td>
                                    <td>
                                        @Model.PowerSupply
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.AirCondition)
                                    </td>
                                    <td>
                                        @Model.AirCondition
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.HasSecurity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.HasSecurity)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.HasChemical)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.HasChemical)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.HasTrash)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.HasTrash)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.HasSecurityCheck)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.HasSecurityCheck)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.PressureContainer)
                                    </td>
                                    <td>
                                        @Model.PressureContainer
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Cylinder)
                                    </td>
                                    <td>
                                        @Model.Cylinder
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.HeatingInAeration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.HeatingInAeration)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.HasTestBed)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.HasTestBed)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.UsageCharge)
                                    </td>
                                    <td>
                                        @Model.UsageCharge
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <p>
            <a class="btn btn-success" href="@Url.Action("Details", new { controller = "Building", buildingGroupId = Model.BuildingId, area = "Admin" })"><i class="icon-chevron-left icon-white"></i> 回到楼宇</a> 
            <a class="btn btn-primary" href="@Url.Action("ListByBuilding", new { controller = "Room", buildingId = Model.BuildingId, area = "Admin" })"><i class="icon-list icon-white"></i> 房间列表</a>
            <a class="btn btn-warning" href="@Url.Action("Edit", new { controller = "Room", id = Model.Id, area = "Admin" })"><i class="icon-edit icon-white"></i> 编辑</a> 
            <a class="btn btn-danger" href="@Url.Action("Delete", new { controller = "Room", id = Model.Id, area = "Admin" })"><i class="icon-remove icon-white"></i> 删除</a>
        </p>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var menu = $('a#room-manage');
        menuNavActive(menu);

        $('#myTab a:first').tab('show');
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
       
    });
</script>
