@model Rhea.Model.Estate.Room

@{
    ViewBag.Title = "房间信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Estate.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Estate")">房产管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">房间管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>房间列表
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>属性</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model._id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model._id)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Number)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Floor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Floor)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Span)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Span)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Orientation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Orientation)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.BuildArea)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.UsableArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.UsableArea)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>属性</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ImageUrl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ImageUrl)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BuildingId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.BuildingId)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.DepartmentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DepartmentId)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.StartDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.FixedYear)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.FixedYear)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.PersonNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PersonNumber)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.RoomStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.RoomStatus)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Remark)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Status)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr />
                <p>
                    <a href="@Url.Action("ListByBuilding", new { controller = "Room", buildingId = Model.BuildingId })" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                    <a href="@Url.Action("Edit", new { controller = "Room", id = Model.RoomId })" class="btn btn-warning" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            topNavActive($('#estate-nav'));
            leftNavActive($('#room-list-menu'));
        });
    </script>
}

