@{
    ViewBag.Title = "Nav";
    Layout = null;
    int rank = User.Rank();
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar"
                type="button">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>
            </button>
            <a href="@Url.Action("Index", new { controller = "Home", area = "Admin" })" class="brand" id="logo">房产系统后台管理</a>
            <div class="nav-collapse collapse">                
                <ul class="nav">
                    <li><a href="@Url.Action("Index", new { controller = "Estate", area = "Admin" })">房产管理</a></li>
                    @if (rank >= 900)
                    {
                    <li><a href="@Url.Action("Index", new { controller = "Department", area = "Admin" })">部门管理</a></li>                    
                    <li><a href="@Url.Action("Index", new { controller = "Account", area = "Admin" })">用户管理</a></li>
                    }
                    <li><a href="@Url.Action("Index", new { controller = "Home", area = "" })">回主页</a></li>
                    <li><a href="@Url.Action("Logout", new { controller = "Account", area = "" })">注销</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
