@model Rhea.UI.Models.EstateMenuModel

@{
    ViewBag.Title = "楼群导航";
}

<link href="@Url.Content("~/Plugins/gallery/colorbox/colorbox.css")" rel="stylesheet" type="text/css" /> 

<!--Responsive navigation button-->
<div class="resBtn">
    <a href="#"><span class="icon16 minia-icon-list-3"></span></a>
</div>

<!--Left Sidebar collapse button-->
<div class="collapseBtn leftbar">
    <a href="#" class="tipR" title="Hide Left Sidebar"><span class="icon12 minia-icon-layout">
    </span></a>
</div>

<!--Sidebar background-->
<div id="sidebarbg">
</div>

<!--Sidebar content-->
<div id="sidebar">
    <div class="shortcuts">
        <ul>
            <li><a href="#" title="Support" class="tip"><span class="icon24 icomoon-icon-support">
            </span></a></li>
            <li><a href="#" title="Backup" class="tip"><span class="icon24 icomoon-icon-database">
            </span></a></li>
            <li><a href="#" title="Statistics" class="tip"><span class="icon24 icomoon-icon-pie-2">
            </span></a></li>
            <li><a href="#" title="Request" class="tip"><span class="icon24 icomoon-icon-pencil">
            </span></a></li>
        </ul>
    </div>

    <div class="sidenav">
        <div class="sidebar-widget" style="margin: -1px 0 0 0;">
            <h5 class="title" style="margin-bottom: 0">
                导航</h5>
        </div>
        <!-- End .sidenav-widget -->
        <div class="mainnav">
            <ul>
                <li><a href="#" id="building-group-summary"><span class="icon16 icomoon-icon-newspaper"></span>摘要</a></li>
                <li><a href="#"><span class="icon16 icomoon-icon-lab"></span>学院楼<span class="notification blue">@Model.BuildingGroups.Where(r => r.UseType == 1).Count()</span></a>
                    <ul class="sub scroll">
                    @foreach (var bg in Model.BuildingGroups.Where(r => r.UseType == 1))
                    {
                        <li><a href="#" title="@bg.Name" ref="@bg.Id"><span class="building-group-index icon16 icomoon-icon-file"></span>@bg.Name</a>
                            <ul class="sub">
                            @foreach (var item in bg.Buildings)
                            {
                                <li><a href="#" title="@item.Name" ref="@item.Id" class="building-index"><span class="icon16 icomoon-icon-arrow-right-2"></span>@item.Name</a></li>
                            }
                            </ul>
                        </li>
                    }
                    </ul>
                </li>
                <li><a href="#"><span class="icon16 icomoon-icon-books"></span>教学楼<span class="notification blue">@Model.BuildingGroups.Where(r => r.UseType == 2).Count()</span></a>
                    <ul class="sub scroll">
                    @foreach (var bg in Model.BuildingGroups.Where(r => r.UseType == 2))
                    {
                        <li><a href="#" title="@bg.Name" ref="@bg.Id"><span class="building-group-index icon16 icomoon-icon-file"></span>@bg.Name</a>
                            <ul class="sub">
                            @foreach (var item in bg.Buildings)
                            {
                                <li><a href="#" title="@item.Name" ref="@item.Id" class="building-index"><span class="icon16 icomoon-icon-arrow-right-2"></span>@item.Name</a></li>
                            }
                            </ul>
                        </li>
                    }
                    </ul>
                </li>
                <li><a href="#"><span class="icon16 icomoon-icon-user-4"></span>行政办公<span class="notification blue">@Model.BuildingGroups.Where(r => r.UseType == 3).Count()</span></a>
                    <ul class="sub scroll">
                    @foreach (var bg in Model.BuildingGroups.Where(r => r.UseType == 3))
                    {
                        <li><a href="#" title="@bg.Name" ref="@bg.Id"><span class="building-group-index icon16 icomoon-icon-file"></span>@bg.Name</a>
                            <ul class="sub">
                            @foreach (var item in bg.Buildings)
                            {
                                <li><a href="#" title="@item.Name" ref="@item.Id" class="building-index"><span class="icon16 icomoon-icon-arrow-right-2"></span>@item.Name</a></li>
                            }
                            </ul>
                        </li>
                    }
                    </ul>
                </li>
                <li><a href="#"><span class="icon16 icomoon-icon-printer-3 "></span>宿舍楼<span class="notification blue">@Model.BuildingGroups.Where(r => r.UseType == 4).Count()</span></a>
                    <ul class="sub scroll">
                    @foreach (var bg in Model.BuildingGroups.Where(r => r.UseType == 4))
                    {
                        <li><a href="#" title="@bg.Name" ref="@bg.Id"><span class="building-group-index icon16 icomoon-icon-file"></span>@bg.Name</a>
                            <ul class="sub">
                            @foreach (var item in bg.Buildings)
                            {
                                <li><a href="#" title="@item.Name" ref="@item.Id" class="building-index"><span class="icon16 icomoon-icon-arrow-right-2"></span>@item.Name</a></li>
                            }
                            </ul>
                        </li>
                    }
                    </ul>
                </li>
                <li><a href="#"><span class="icon16 icomoon-icon-bag"></span>辅助楼<span class="notification blue">@Model.BuildingGroups.Where(r => r.UseType == 5).Count()</span></a>
                    <ul class="sub scroll">
                    @foreach (var bg in Model.BuildingGroups.Where(r => r.UseType == 5))
                    {
                        <li><a href="#" title="@bg.Name" ref="@bg.Id"><span class="building-group-index icon16 icomoon-icon-file"></span>@bg.Name</a>
                            <ul class="sub">
                            @foreach (var item in bg.Buildings)
                            {
                                <li><a href="#" title="@item.Name" ref="@item.Id" class="building-index"><span class="icon16 icomoon-icon-arrow-right-2"></span>@item.Name</a></li>
                            }
                            </ul>
                        </li>
                    }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End sidenav -->

</div>
<!-- End #sidebar -->

<!--Body content-->
<div id="content" class="clearfix">
    <div class="contentwrapper">
        <!-- Build page from here: -->
        <div id="ajax-content1">
        @Html.Action("Summary", new { controller = "BuildingGroup", area = "Estate" })
        </div>
        <!--End page -->
    </div>
</div>
<!-- End #content -->

@section scripts {
<script src="@Url.Content("~/Plugins/charts/sparkline/jquery.sparkline.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Plugins/charts/knob/jquery.knob.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Plugins/misc/nicescroll/jquery.nicescroll.min.js")" type="text/javascript"></script>
<script src="~/Plugins/gallery/colorbox/jquery.colorbox.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $('.navbar .nav #nav-estate').parent().addClass('active');

        $('a#building-group-summary').click(function () {
            ajaxLoadPage("Summary", "BuildingGroup", "Estate", {});
        });

        $('span.building-group-index').click(function () {
            var id = $(this).parent().attr('ref');
            ajaxLoadPage("Index", "BuildingGroup", "Estate", { id: id });
            return false;
        });

        $('a.building-index').click(function () {
            var id = $(this).attr('ref');
            ajaxLoadPage("Index", "Building", "Estate", { id: id });
            return false;
        });

        if ($(".scroll").length) {
            $(".scroll").niceScroll({
                cursoropacitymax: 0.7,
                cursorborderradius: 6,
                cursorwidth: "7px",
                horizrailenabled: false
            });
        }
    });
</script>
}