@model Rhea.UI.Models.MapPointDetailModel

@{
    Layout = null;
    ViewBag.Title = "MapDetails";
}

<div class="row-fluid">
    <div class="span6">
        <img src="@Model.ImageUrl" alt="@Model.Title" />
    </div>
    <div class="span6">
        <table class="responsive table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        属性
                    </th>
                    <th>
                        值
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Title)
                    </td>
                    <td>
                        @Model.Title
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.BuildDate)
                    </td>
                    <td>
                        @Model.BuildDate.ToShortDateString()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.BuildArea)
                    </td>
                    <td>
                        @Model.BuildArea m<sup>2</sup>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.UsableArea)
                    </td>
                    <td>
                        @Model.UsableArea m<sup>2</sup>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.RoomCount)
                    </td>
                    <td>
                        @Model.RoomCount
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="title">
                <h4>
                    <span class="icon16 icomoon-icon-tag"></span><span>楼群入住部门</span>
                </h4>
            </div>

            <div class="content noPad">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                部门名称
                            </th>
                            <th>
                                房间数量
                            </th>
                            <th>
                                使用总面积 (m<sup>2</sup>)
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>合计</td>
                            <td>@Model.Departments.Sum(r => r.RoomCount)</td>
                            <td>@Model.Departments.Sum(r => r.TotalUsableArea)</td>
                        </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var item in Model.Departments)
                    {
                        <tr>
                            <td>
                                @item.DepartmentName
                            </td>
                            <td>
                                @item.RoomCount
                            </td>
                            <td>
                                @item.TotalUsableArea
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
