@model Rhea.UI.Models.MenuModel
@{
    Layout = null;
}

<!-- left menu starts -->
<div class="main-menu-span">  
    <ul id="mega-1" class="mega-menu">
        <li><a href="#">系统首页</a>         
        </li>
        <li><a href="@Url.Action("Department", new { controller = "Home", area = "Estate" })">学院房屋数据</a>
            <ul>
                <li><a href="#">教学院系</a>
                    <ul>
                    @foreach (var item in Model.Departments.Where(r => r.Type == 1))
                    {
                        <li><a class="department" href="#" ref="@item.Id"><span>@item.Name</span></a></li>
                    }                        
                    </ul>
                </li>
                <li><a href="#">行政单位</a>
                    <ul>
                    @foreach (var item in Model.Departments.Where(r => r.Type == 5))
                    {
                        <li><a class="department" href="#" ref="@item.Id"><span>@item.Name</span></a></li>
                    }
                    </ul>
                </li> 
                <li><a href="#">机关部门</a>
                    <ul>
                    @foreach (var item in Model.Departments.Where(r => r.Type != 1 && r.Type != 5))
                    {
                        <li><a class="department" href="#" ref="@item.Id"><span>@item.Name</span></a></li>
                    }
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="@Url.Action("Index", new { controller = "Home", area = "Estate" })">楼群房屋数据</a>
            <ul>
                <li><a href="#">学院楼群</a>
                    <ul>
                    @foreach (var item in Model.BuildingGroups.Where(r => r.Type == 1))
                    {
                        <li>
                            <a class="buildingGroup" href="#" ref="@item.Id">
                            <span>@item.Name</span></a>
                        </li>
                    }
                    </ul>
                </li>
                <li><a href="#">办公教学</a>
                    <ul>
                    @foreach (var item in Model.BuildingGroups.Where(r => r.Type == 2 || r.Type == 3 ))
                    {
                        <li>
                            <a class="buildingGroup" href="#" ref="@item.Id">
                            <span>@item.Name</span></a> 
                        </li>
                    }
                    </ul>
                </li>
                <li><a href="#">宿舍楼群</a>
                    <ul>
                    @foreach (var item in Model.BuildingGroups.Where(r => r.Type > 3))
                    {
                        <li><a class="buildingGroup" href="#" ref="@item.Id">
                            <span>@item.Name</span></a> 
                        </li>
                    }
                    </ul>
                </li>
            </ul>
        </li>
        <li><a class="map" href="@Url.Action("Map", new { controller = "Home", area = "Estate" })">3D地图</a>            
        </li>
        <li><a href="@Url.Action("Index", new { controller = "Statistic", area = "Estate" })">统计汇总</a>
            <ul>
                <li><a href="#">Sub-Header 1</a>
                    <ul>
                        <li><a href="@Url.Action("CollegeRoomStatistic", new { controller = "Statistic", area = "Estate" })">学院分类用房统计</a></li>
                        <li><a href="@Url.Action("CollegeRoomCompare", new { controller = "Statistic", area = "Estate" })">学院分类用房比较</a></li>
                        <li><a href="@Url.Action("CollegeBuildingRoom", new { controller = "Statistic", area = "Estate" })">学院楼宇用房统计</a></li>
                 </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">部门申请</a>
            <ul>
                <li><a href="#">Sub-Header 1</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 2</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 3</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 4</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 5</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 6</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 7</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
            </ul>
        </li>
        <li><a href="#">有偿测算</a>
            <ul>
                <li><a href="#">Sub-Header 1</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 2</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 3</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 4</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 5</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 6</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
            </ul>
        </li>
        <li><a href="#">系统管理</a>
            <ul>
                <li><a href="#">Sub-Header 1</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>                        
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
                <li><a href="#">Sub-Header 2</a>
                    <ul>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>                        
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li>
                        <li><a href="#">Menu Link</a></li></ul>
                </li>
            </ul>
        </li>        
    </ul>
</div>
<!--/span-->
<!-- left menu ends -->
