@{
    Layout = null;
    ViewBag.Title = "导航栏";
    int rank = User.Rank();
}

<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="@Url.Action("Dashboard", new { controller = "Home", area = "" })">房产管理系统</a>
            <div class="nav-no-collapse">
                <ul class="nav">
                    <li><a href="@Url.Action("Index", new { controller = "Home", area = "Estate" })" id="nav-summary"><span class="icon16 icomoon-icon-home-2"></span> 概况</a></li>
                    <li><a href="@Url.Action("Map", new { controller = "Home", area = "" })" id="nav-map"><span class="icon16 icomoon-icon-map-2"></span> 地图</a></li>
                    @if (rank >= 450)
                    {
                    <li><a href="@Url.Action("Estate", new { controller = "Home", area = "" })" id="nav-estate"><span class="icon16 icomoon-icon-office"></span> 楼群</a></li>
                    }
                    @if (rank == 400)
                    {
                    <li><a href="@Url.Action("Dashboard", new { controller = "Home", area = "" })" id="nav-department"><span class="icon16 icomoon-icon-screen-2"></span> 部门</a></li>
                    }
                    else
                    {
                    <li><a href="@Url.Action("Department", new { controller = "Home", area = "" })" id="nav-department"><span class="icon16 icomoon-icon-screen-2"></span> 部门</a></li>    
                    }
                    @if (rank >= 450)
                    {
                    <li><a href="@Url.Action("Index", new { controller = "Statistic", area = "" })" id="nav-statistic"><span class="icon16 icomoon-icon-graph"></span> 统计</a></li>
                    <li><a href="@Url.Action("Index", new { controller = "Summary", area = "" })" id="nav-summary2"><span class="icon16 icomoon-icon-cabinet"></span> 纪要</a></li>
                    }
                </ul>

                <ul class="nav pull-right usernav">
                    <li class="dropdown" style="visibility:hidden">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon16 icomoon-icon-bell-2"></span><span class="notification">3</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="menu">
                                <ul class="notif">
                                    <li class="header">(3) 个<strong>通知</strong></li>
                                    <li>
                                        <a href="#">
                                            <span class="icon"><span class="icon16 icomoon-icon-user-3"></span></span>
                                            <span class="event">3间房屋变动</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon"><span class="icon16 icomoon-icon-comments-4"></span></span>
                                            <span class="event">xx学院有1个申请</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon"><span class="icon16 icomoon-icon-new-2"></span></span>
                                            <span class="event">新增一间房屋</span>
                                        </a>
                                    </li>
                                    <li class="view-all"><a href="#">更多 <span class="icon16 icomoon-icon-arrow-right-8"></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar --> 