@model IEnumerable<Rhea.Model.Personnel.Department>
@{
    Layout = null;
    ViewBag.Title = "Nav";
}

 <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="brand">房产管理系统</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a class="navbar-link" href="#">Username</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">概况</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">部门</a>
                        <div id="department-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">                           
                            <div class="row-fluid">
                                <div class="span3">
                                    <h4>教学院系</h4>
                                    <ul>
                                    @foreach (var item in Model.Where(r => r.Type == 1))
                                    {
                                        <li><a href="#">@item.Name</a></li>
                                    }   
                                    </ul>
                                </div>
                                <div class="span3">
                                    <h4>党务部门</h4>
                                    <ul>
                                    @foreach (var item in Model.Where(r => r.Type == 4))
                                    {
                                        <li><a href="#">@item.Name</a></li>
                                    }   
                                    </ul>
                                    <h4>公共服务</h4>
                                    <ul>
                                    @foreach (var item in Model.Where(r => r.Type == 3))
                                    {
                                        <li><a href="#">@item.Name</a></li>
                                    }   
                                    </ul>
                                </div>
                                <div class="span3">
                                    <h4>行政单位</h4>
                                    <ul>
                                    @foreach (var item in Model.Where(r => r.Type == 5))
                                    {
                                        <li><a href="#">@item.Name</a></li>
                                    }   
                                    </ul>
                                </div>
                                <div class="span3">
                                    <h4>科研机构</h4>
                                    <ul>
                                    @foreach (var item in Model.Where(r => r.Type == 2))
                                    {
                                        <li><a href="#">@item.Name</a></li>
                                    }   
                                    </ul>
                                    <h4>附（直）属单位</h4>
                                    <ul>
                                    @foreach (var item in Model.Where(r => r.Type == 6))
                                    {
                                        <li><a href="#">@item.Name</a></li>
                                    }   
                                    </ul>
                                    <h4>后勤部门</h4>
                                    <ul>
                                    @foreach (var item in Model.Where(r => r.Type == 7))
                                    {
                                        <li><a href="#">@item.Name</a></li>
                                    }   
                                    </ul>
                                    <h4>其它</h4>
                                    <ul>
                                    @foreach (var item in Model.Where(r => r.Type == 9))
                                    {
                                        <li><a href="#">@item.Name</a></li>
                                    }   
                                    </ul>
                                </div>
                            </div>
                                                     
                        </div>
                    </li>
                    <li><a href="@Url.Action("About", "Home")">统计</a></li>
                    <li>
                        <a href="#">关于我们</a>                      
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>