@model Rhea.Model.Dictionary

@{
    ViewBag.Title = "字典信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Advance.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Advance")">高级管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">字典管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th"></i>字典信息
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>属性</th>
                            <th>值</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Type)
                            </td>
                            <td>
                                @{
                                    var type = (DictionaryType)Model.Type;
                                    @type.DisplayName()
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.PropertyString)
                            </td>
                            <td>
                                @Html.Raw(Model.PropertyString)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Remark)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Remark)
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />
                <p>
                    <a href="@Url.Action("List", new { controller = "Dictionary" })" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                    <a href="@Url.Action("Edit", new { controller = "Dictionary", name = Model.Name })" class="btn btn-warning" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#advance-nav'));
            Rhea.leftNavActive($('#dictionary-list-menu'));
        });
    </script>
}
