@{
    ViewBag.Title = "青教管理";
    Layout = "~/Areas/Apartment/Views/Shared/_Layout.cshtml";
    string role = User.GetRole();
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">青教主页</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-info-circle"></i>&nbsp;基本数据
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                 @Html.Action("BaseInfo", new { controller = "Home" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="portlet box blue tabbable">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-child"></i>&nbsp;最新业务办理
                </div>
            </div>
            <div class="portlet-body">
                <div class="tabbable portlet-tabs">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#business_tab_2" data-toggle="tab">
                                退房业务
                            </a>
                        </li>
                        <li class="active">
                            <a href="#business_tab_1" data-toggle="tab">
                                入住业务
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="business_tab_1">
                            <div class="scroller" style="height: 200px;" data-always-visible="1" data-rail-visible="0">
                                @Html.Action("LastCheckIn", new { controller = "Home", count = 15 })
                            </div>
                        </div>
                        <div class="tab-pane" id="business_tab_2">
                            <div class="scroller" style="height: 200px;" data-always-visible="1" data-rail-visible="0">
                                @Html.Action("LastCheckOut", new { controller = "Home", count = 15 })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="portlet box red-sunglo tabbable">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-child"></i>&nbsp;超期到期房间
                </div>
            </div>
            <div class="portlet-body">
                <div class="tabbable portlet-tabs">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#expire_tab_2" data-toggle="tab">
                                30天内到期
                            </a>
                        </li>
                        <li class="active">
                            <a href="#expire_tab_1" data-toggle="tab">
                                超期居住
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="expire_tab_1">
                            <div class="scroller" style="height: 200px;" data-always-visible="1" data-rail-visible="0">
                                @Html.Action("ExpireRecords", new { controller = "Home" })
                            </div>
                        </div>
                        <div class="tab-pane" id="expire_tab_2">
                            <div class="scroller" style="height: 200px;" data-always-visible="1" data-rail-visible="0">
                                @Html.Action("ExpireInDays", new { controller = "Home", day = 30 })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@if (new string[] { "Root", "Administrator", "Estate", "Apartment" }.Contains(role))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red-pink ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gear"></i>&nbsp;高级操作
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="expand">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body display-hide">
                    <a href="#" id="checkStatus" class="btn btn-primary"><i class="fa fa-bell"></i>&nbsp;检测状态</a>
                </div>
            </div>
        </div>
    </div>
}

<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#apartment-nav'));
            Rhea.leftNavActive($('#apartment-home-menu'));

            Apartment.initDashboardAction();
        });
    </script>
}
