@{
    ViewBag.Title = "青教管理";
    Layout = "~/Areas/Apartment/Views/Shared/_Layout.cshtml";
    string role = User.GetRole();
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title <small>horizontal mega menu & sidebar menu layout</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">青教主页</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="portlet box green-turquoise">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-share"></i>&nbsp;最新入住办理
                </div>
                <div class="tools">
                    <a href="#" class="collapse">
                    </a>
                    <a href="#" class="reload">
                    </a>
                    <a href="#" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 150px;" data-always-visible="1" data-rail-visible="0">
                    @Html.Action("LastCheckIn", new { controller = "Home", count = 15 })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reply"></i>&nbsp;最新退房办理
                </div>
                <div class="tools">
                    <a href="#" class="collapse">
                    </a>
                    <a href="#" class="reload">
                    </a>
                    <a href="#" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 150px;" data-always-visible="1" data-rail-visible="0">
                    @Html.Action("LastCheckOut", new { controller = "Home", count = 15 })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="portlet box blue-steel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>&nbsp;15天内到期房间
                </div>
                <div class="tools">
                    <a href="#" class="collapse">
                    </a>
                    <a href="#" class="reload">
                    </a>
                    <a href="#" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 200px;" data-always-visible="1" data-rail-visible="0">
                    @Html.Action("ExpireInDays", new { controller = "Home", day = 15 })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bullhorn"></i>&nbsp;超期居住房间
                </div>
                <div class="tools">
                    <a href="#" class="collapse">
                    </a>
                    <a href="#" class="reload">
                    </a>
                    <a href="#" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 200px;" data-always-visible="1" data-rail-visible="0">
                    @Html.Action("ExpireRecords", new { controller = "Home" })
                </div>
            </div>
        </div>
    </div>
</div>

@if (new string[] { "Root", "Administrator", "Estate", "Apartment" }.Contains(role))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red-pink ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gear"></i>&nbsp;高级操作
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="expand">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body display-hide">
                    <a href="#" id="checkStatus" class="btn btn-primary"><i class="fa fa-bell"></i>&nbsp;检测状态</a>
                </div>
            </div>
        </div>
    </div>
}

<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#apartment-nav'));
            Rhea.leftNavActive($('#apartment-home-menu'));

            apartment.initDashboardAction();
        });
    </script>
}
