@model Rhea.Model.Apartment.ResideRecord

@{
    ViewBag.Title = "居住记录信息";
    Layout = null;
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">青教公寓</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-indent"></i>&nbsp;@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="#" class="collapse">
                    </a>
                    <a href="#" class="reload">
                    </a>
                    <a href="#" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>属性</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model._id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model._id)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.RoomId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.RoomId)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        房间名称
                                    </td>
                                    <td>
                                        @Model.GetApartmentRoom().Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.InhabitantName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InhabitantName)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.InhabitantDepartment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InhabitantDepartment)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ResideType)
                                    </td>
                                    <td>
                                        @{
                                            var type2 = (ResideType)Model.ResideType;
                                            @type2.DisplayName();
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Rent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Rent)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.EnterDate)
                                    </td>
                                    <td>
                                        @Model.EnterDate.ToDateString()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ExpireDate)
                                    </td>
                                    <td>
                                        @Model.ExpireDate.ToDateString()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.TermLimit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.TermLimit)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.LeaveDate)
                                    </td>
                                    <td>
                                        @Model.LeaveDate.ToDateString()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Remark)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.RegisterTime)
                                    </td>
                                    <td>
                                        @Model.RegisterTime.ToDateTimeString()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </td>
                                    <td>
                                        @switch ((EntityStatus)Model.Status)
                                        {
                                            case EntityStatus.Normal:
                                                <span class="label label-success">居住中</span>
                                                break;
                                            case EntityStatus.OverTime:
                                            <span class="label label-danger">超期</span>
                                                break;
                                            case EntityStatus.ExtendTime:
                                            <span class="label label-warning">延期</span>
                                                break;
                                            case EntityStatus.MoveOut:
                                            <span class="label label-default">已搬出</span>
                                                break;
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        最后编辑时间
                                    </td>
                                    <td>
                                        @Model.Log.Time.ToDateTimeString()
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr />
                <p>
                    <a href="/Apartment/Room/Details/@Model.RoomId" class="btn btn-primary ajaxify" role="button"><i class="fa fa-align-left"></i>&nbsp;回到房间</a>
                    <a href="/Apartment/Inhabitant/Details/@Model.InhabitantId" class="btn blue-ebonyclay ajaxify" role="button"><i class="fa fa-align-right"></i>&nbsp;回到住户</a>
                    <a href="/Apartment/ResideRecord/Edit/@Model._id" class="btn btn-warning ajaxify" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->