@model Rhea.Model.Apartment.ResideRecord

@{
    Layout = null;
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">居住记录</h3>
    </div>
    <table class="table table-bordered" style="margin-bottom:0px;">
        <tbody>
            <tr>
                <td>
                    房间名称
                </td>
                <td>
                    @Model.GetApartmentRoom().Name
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.InhabitantName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InhabitantName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.InhabitantDepartment)
                </td>
                <td>
                    @Html.DisplayFor(model => model.InhabitantDepartment)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ResideType)
                </td>
                <td>
                    @{
                        var type2 = (ResideType)Model.ResideType;
                        @type2.DisplayName();
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Rent)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Rent)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.EnterDate)
                </td>
                <td>
                    @Model.EnterDate.ToDateString()
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ExpireDate)
                </td>
                <td>
                    @Model.ExpireDate.ToDateString()
                </td>
            </tr>
            <tr>
                <td>
                    备注
                </td>
                <td>
                    @Html.DisplayFor(model => model.Remark)
                </td>
            </tr>
            <tr>
                <td>
                    状态
                </td>
                <td>
                    @ApartmentHelpers.ResideRecordStatus(Model.Status)
                </td>
            </tr>
        </tbody>
    </table>
</div>