@model Rhea.UI.Areas.Estate.Models.BuildingGroupSectionModel
@{    
    ViewBag.Title = "楼群主页";
    Layout = null;
}

@Html.Action("Heading", new { controller = "Common", area = "", title = Model.BuildingGroupName, active = "楼群导航" })

<!--Sidebar background-->
<div id="section-barbg">
</div>

<div id="section-bar">
    <div class="section-nav">
        <ul id="secTab" class="nav nav-tabs pattern">
            <li class="active"><a href="#tab-fun" data-toggle="tab">功 能</a></li>
            <li><a href="#tab-room" data-toggle="tab">房 屋</a></li>
            <li><a href="#tab-stat" data-toggle="tab">统 计</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-fun">
                <div class="secbar-widget">
                    <div class="content">
                        <button class="btn btn-block btn-primary" id="building-group-intro"><span class="icon16 icomoon-icon-cog white"></span> 简介</button>
                        <button class="btn btn-block btn-info" id="building-group-details"><span class="icon16 icomoon-icon-info-2 white"></span> 详细</button>
                    </div>
                </div>
                <hr />
                <div class="centerContent">
                    <div dir="ltr" class="circle-stats">
                        <div class="circular-item tip" title="Site overload">
                            <span class="icon icomoon-icon-fire"></span>
                            <input type="text" value="62" class="redCircle" />
                        </div>
                        <div class="circular-item tip" title="Site average load time">
                            <span class="icon icomoon-icon-busy"></span>
                            <input type="text" value="12" class="blueCircle" />
                        </div>
                        <div class="circular-item tip" title="Target complete">
                            <span class="icon icomoon-icon-target-2"></span>
                            <input type="text" value="94" class="greenCircle" />
                        </div>
                    </div>
                </div>
                <div class="secbar-widget">
                    <h5 class="title">
                        当前</h5>
                    <div class="content">
                        <div class="rightnow">
                            <ul class="unstyled">
                                <li><span class="number">@Model.Buildings.Count</span><span class="icon16 icomoon-icon-clubs"></span>楼宇</li>
                                <li><span class="number">@Model.RoomCount</span><span class="icon16 icomoon-icon-home-9"></span>房间</li>
                                <li><span class="number">@Model.BuildArea</span><span class="icon16 icomoon-icon-copy"></span>建筑面积</li>
                                <li><span class="number">@Model.UsableArea</span><span class="icon16 icomoon-icon-copy-2"></span>使用面积</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End .sidenav-widget -->
            </div>
            <div class="tab-pane fade" id="tab-room">
                <div class="secbar-widget">
                    <h4 class="title">
                        楼宇列表</h4>
                    <div class="content">
                        <ul id="building-list" class="nav nav-pills nav-stacked">
                        @foreach (var item in Model.Buildings)
                        {
                            <li><a href="#" ref="@item.Id">@item.Name</a></li>
                        }
                        </ul>
                    </div>
                </div>
                <div class="secbar-widget">
                    <h4 class="title">房屋统计</h4>
                    <div class="content">
                        <ul class="bigBtnIcon">
                            <li><a href="#" id="room-list" title="房间列表" class="tip"><span class="icon icomoon-icon-list-view">
                            </span><span class="txt">房间列表</span> </a></li>                        
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-stat">
                <div class="centerContent">
                    <ul class="bigBtnIcon">
                        <li><a href="#" title="分类统计" class="tip"><span class="icon icomoon-icon-users">
                        </span><span class="txt">分类统计</span> </a></li>
                        <li><a href="#" id="building-group-statistic" title="分楼宇统计" class="tip"><span class="icon icomoon-icon-support">
                        </span><span class="txt">分楼宇统计</span></a>
                        </li>
                        <li><a href="#"><span class="icon icomoon-icon-comments-2">
                        </span><span class="txt">消息</span> <span class="notification green">23</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section-content" class="clearfix">
    <div class="row-fluid">
        <div class="span12">
            <div id="ajax-content2">
                @Html.Action("Intro", "BuildingGroup", new { area = "Estate", id = Model.BuildingGroupId })
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {

        //circular progrress bar
        $(".greenCircle").knob({
            'min': 0,
            'max': 100,
            'readOnly': true,
            'width': 80,
            'height': 80,
            'fgColor': '#9FC569',
            'dynamicDraw': true,
            'thickness': 0.2,
            'tickColorizeValues': true
        });
        $(".redCircle").knob({
            'min': 0,
            'max': 100,
            'readOnly': true,
            'width': 80,
            'height': 80,
            'fgColor': '#ED7A53',
            'dynamicDraw': true,
            'thickness': 0.2,
            'tickColorizeValues': true
        });
        $(".blueCircle").knob({
            'min': 0,
            'max': 100,
            'readOnly': true,
            'width': 80,
            'height': 80,
            'fgColor': '#88BBC8',
            'dynamicDraw': true,
            'thickness': 0.2,
            'tickColorizeValues': true
        });

        $('button#building-group-intro').click(function () {
            ajaxContentLoadPage("Intro", "BuildingGroup", "Estate", { id: '@Model.BuildingGroupId' }, $('#ajax-content2'));
            return false;
        });

        $('button#building-group-details').click(function () {
            ajaxContentLoadPage("Details", "BuildingGroup", "Estate", { id: '@Model.BuildingGroupId' }, $('#ajax-content2'));
            return false;
        });

        $('a#building-group-statistic').click(function () {
            ajaxContentLoadPage("Statistic", "BuildingGroup", "Estate", { id: '@Model.BuildingGroupId' }, $('#ajax-content2'));
            return false;
        });

        $('a#room-list').click(function () {
            ajaxContentLoadPage("ListByBuildingGroup", "Room", "Estate", { buildingGroupId: '@Model.BuildingGroupId' }, $('#ajax-content2'));
            return false;
        });

        $('ul#building-list li a').click(function () {
            var id = $(this).attr('ref');
            secNavActive($('ul#building-list'), $(this));
            ajaxLoadPage("Index", "Building", "Estate", { id: id });
            return false;
        });
    });
</script>
