@model IEnumerable<Rhea.Data.Entities.BuildingGroup>

@{
    ViewBag.Title = "楼群列表";
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-align-left"></i>楼群列表</h2>
    </div>

    <div class="box-content">
        <table id="building-group-list" class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead>
                <tr>
                    <th>
                        楼群名称
                    </th>
                    <th>
                        楼宇栋数
                    </th>
                    <th>
                        建筑面积
                    </th>
                    <th>
                        使用面积
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.BuildingCount</td>
                    <td>@item.BuildArea</td>
                    <td>@item.UsableArea</td>
                    <td>
                        <a class="btn btn-success buildinggroup-details" href="#" ref="@item.Id"><i class="icon-zoom-in icon-white"></i>查看</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-user"></i>管理员操作</h2>
    </div>
    <div class="box-content">
        <div class="row-fluid ">
            <div class="span12">
                <p>
                    <a class="btn" id="create" href="#"><i class="icon-plus"></i>添加楼群</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('table a.buildinggroup-details').click(function () {
            var request = { id: $(this).attr('ref') };
            ajaxLoadPage("Details", "BuildingGroup", "Estate", request);
            return false;
        });

        $('.datatable').dataTable({
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "每页 _MENU_ 条记录",
                "sInfo": "显示 _START_ 至 _END_ 共有 _TOTAL_ 条记录",
                "sInfoEmpty": "记录为空",
                "sInfoFiltered": " - 从 _MAX_ 条记录中",
                "sZeroRecords": "结果为空",
                "sSearch": "搜索:"
            }
        });

        $('a#create').click(function () {
            ajaxLoadPage("Create", "BuildingGroup", "Estate", {});
            return false;
        });
    });
</script>