@model IEnumerable<Rhea.Model.Estate.BuildingGroup>

@{
    Layout = null;
    ViewBag.Title = "楼群列表";   
}

<div class="box gradient">
    <div class="title">
        <h4>
            <span class="icon16 icomoon-icon-list-view-2"></span>
            <span>@ViewBag.Title</span>
        </h4>
        <a href="#" class="minimize">Minimize</a>
    </div>

    <div class="content noPad clearfix">
        <table id="building-group-list" class="responsive dynamicTable display table table-bordered">
            <thead>
                <tr>
                    <th>
                        楼群名称
                    </th>
                    <th>
                        楼宇栋数
                    </th>
                    <th>
                        建筑面积 (m<sup>2</sup>)
                    </th>
                    <th>
                        使用面积 (m<sup>2</sup>)
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.BuildingCount</td>
                    <td>@item.BuildArea</td>
                    <td>@item.UsableArea</td>
                    <td>
                        <a class="btn btn-success btn-small" href="#"><i class="icon-zoom-in icon-white"></i>查看</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () { 
        var dom = $('table#building-group-list');
        initDataTable(dom);
    });
</script>