@model Rhea.UI.Areas.Apartment.Models.CheckInModel

@{
    Layout = null;
    ViewBag.Title = "入住办理";
}


<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">业务办理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12" id="check-in-body">
        <div class="portlet box blue" id="form_wizard_check_in">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> 业务流程 - <span class="step-title">
                        Step 1 of 4
                    </span>
                </div>
                <div class="tools hidden-xs">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class="form-horizontal" id="submit_form" method="POST">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number">
                                            1
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> 房间选择
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number">
                                            2
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> 住户信息
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step">
                                        <span class="number">
                                            3
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> 入住信息
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tabConfirm" data-toggle="tab" class="step">
                                        <span class="number">
                                            4
                                        </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> 确认
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success">
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    请检查输入！
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    输入验证成功!
                                </div>
                                <div class="tab-pane active" id="tab1">
                                    <div class="note note-info">
                                        <h4 class="block">提示：</h4>
                                        <p>
                                            本业务主要为一般教职工入住办理流程，其它情况请选择其它业务。若教职工以前曾有居住记录，可从历史住户中选择该教职工信息。
                                        </p>
                                    </div>
                                    <h3 class="block">请选择房间</h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            楼宇选择 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.BuildingId, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            房间选择 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            <select class="form-control" id="RoomId" name="RoomId">
                                                <option value="">-- 请选择 --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 col-md-offset-3" id="room-info">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <h3 class="block">请输入住户信息</h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            历史住户
                                        </label>
                                        <div class="col-md-4">
                                            <input type="hidden" id="OldInhabitant" name="OldInhabitant" class="form-control select2">
                                        </div>
                                        <div class="col-md-4">
                                            <p class="text-primary">如该住户曾在青教中居住，可从现有住户中选择该住户信息。</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            工号&amp;学号
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.JobNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            姓名 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            性别
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            住户类型 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            所属部门
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            职务
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Duty, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            电话
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            身份证
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.IdentityCard, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            学历
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Education, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            是否双职工
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.IsCouple, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            婚姻状况
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Marriage, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            公积金领取时间
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.AccumulatedFundsDate, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            蠡湖家园入住时间
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.LiHuEnterDate, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            备注
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.InhabitantRemark, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <h3 class="block">请输入入住信息</h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            入住时间 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.EnterDate, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            月数 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.MonthCount, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            到期时间 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            年限
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.TermLimit, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            房租 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Rent, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            财务收据号码 
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.ReceiptNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            备注
                                        </label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.RecordRemark, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabConfirm">
                                    <h3 class="block">确认信息</h3>
                                    <h4 class="form-section">房间</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">楼宇:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="BuildingId">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">房间:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="RoomId">
                                            </p>
                                        </div>
                                    </div>
                                    <h4 class="form-section">用户</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">学号&amp;工号:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="JobNumber">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">姓名:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="Name">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">性别:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="Gender">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">住户类型:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="Type">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">所属部门:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="DepartmentName">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">职务:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="Duty">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">电话:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="Telephone">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">身份证:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="IdentityCard">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">学历:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="Education">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">是否双职工:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="IsCouple">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">婚姻状况:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="Marriage">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">公积金领取时间:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="AccumulatedFundsDate">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">蠡湖家园入住时间:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="LiHuEnterDate">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">备注:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="InhabitantRemark">
                                            </p>
                                        </div>
                                    </div>
                                    <h4 class="form-section">入住</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">入住时间:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="EnterDate">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">月数:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="MonthCount">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">到期时间:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="ExpireDate">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">年限:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="TermLimit">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">房租:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="Rent">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">财务收据号码:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="ReceiptNumber">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">备注:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="RecordRemark">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="javascript:;" class="btn default button-previous">
                                        <i class="m-icon-swapleft"></i> 上一步
                                    </a>
                                    <a href="javascript:;" class="btn blue button-next">
                                        下一步 <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                    <a href="javascript:;" class="btn green button-submit">
                                        提交 <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

<script type="text/javascript">
    $(function () {
        apartment.initCheckIn();
    });
</script>
