@model Rhea.UI.Areas.Admin.Models.ArchiveModel

@{
    ViewBag.Title = "归档部门";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Department.cshtml";
}


<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-tasks"></i>@ViewBag.Title</h2>
    </div>

    <div class="box-content">
        <div class="row-fluid">
            <div class="span12">
            @using (Html.BeginForm("Archive", "Department", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>信息输入</legend>

                    <div class="control-group">
                        <label class="control-label" for="ArchiveDate">选择日期</label>
                        <div class="controls">
                            @Html.EditorFor(model => model.ArchiveDate)
                            @Html.ValidationMessageFor(model => model.ArchiveDate)
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="ArchiveContent">备注内容</label>
                        <div class="controls">
                            @Html.EditorFor(model => model.ArchiveContent)
                            @Html.ValidationMessageFor(model => model.ArchiveContent)
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(function () {
        var menu = $('a#archive-task');
        menuNavActive(menu);

        var arch = $('#ArchiveDate').datepicker({ format: 'yyyy-mm-dd', autoclose: true, language: "zh-CN" });
    });
</script>
}
