@model Rhea.Model.Personnel.Department

@{
    ViewBag.Title = "部门信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Department.cshtml";
}


<div class="box">
    <div class="box-header well" data-original-title>
        <h2><i class="icon-tasks"></i>@ViewBag.Title</h2>
    </div>

    <div class="box-content">    
        <div class="page-header">
            <h2>
                @Model.Name <small>Id: @Model.Id</small></h2>
        </div>
                  
        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#info">基础信息</a></li>
                    <li><a href="#scale">规模信息</a></li>
                    <li><a href="#research">科研信息</a></li>
                    <li><a href="#special">特殊面积</a></li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active" id="info">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:180px;">
                                        属性
                                    </th>
                                    <th>
                                        值
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Model.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ShortName)
                                    </td>
                                    <td>
                                        @Model.ShortName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ImageUrl)
                                    </td>
                                    <td>
                                        @Model.ImageUrl
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.LogoUrl)
                                    </td>
                                    <td>
                                        @Model.LogoUrl
                                    </td>
                                </tr>                  
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Type)
                                    </td>
                                    <td>
                                        @{
                                            var type = (DepartmentType)Model.Type;
                                            @type.DisplayName(); 
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </td>
                                    <td>
                                        @Model.Description
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @if (Model.Type == (int)DepartmentType.Type1)
                    {
                    <div class="tab-pane" id="scale">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:180px">
                                        属性
                                    </th>
                                    <th>
                                        值
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.BachelorCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.BachelorCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.GraduateCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.GraduateCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.MasterOfEngineerCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.MasterOfEngineerCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.DoctorCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DoctorCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.StaffCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.StaffCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.PartyLeaderCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PartyLeaderCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.SectionChiefCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SectionChiefCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ProfessorCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ProfessorCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.AssociateProfessorCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.AssociateProfessorCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.MediumTeacherCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.MediumTeacherCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.AdvanceAssistantCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.AdvanceAssistantCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.MediumAssistantCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.MediumAssistantCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.SubjectType)
                                    </td>
                                    <td>
                                        @Model.SubjectTypeName()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.FactorK1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.FactorK1)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.FactorK3)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.FactorK3)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="research">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:180px">
                                        属性
                                    </th>
                                    <th>
                                        值
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.LongitudinalFunds)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.LongitudinalFunds)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.TransverseFunds)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.TransverseFunds)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.CompanyFunds)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.CompanyFunds)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="special">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:180px">
                                        属性
                                    </th>
                                    <th>
                                        值
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.TalentArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.TalentArea)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ResearchBonusArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ResearchBonusArea)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ExperimentBonusArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ExperimentBonusArea)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.AdjustArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.AdjustArea)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    }
                    else
                    {
                    <div class="tab-pane" id="scale">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:180px">
                                        属性
                                    </th>
                                    <th>
                                        值
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.PresidentCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PresidentCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.VicePresidentCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.VicePresidentCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ChiefCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ChiefCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ViceChiefCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ViceChiefCount)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.MemberCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.MemberCount)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    }
                </div>
            </div>
        </div>

        <p>
            <a class="btn btn-success" href="@Url.Action("List", new { controller = "Department", area = "Admin" })"><i class="icon-list icon-white"></i> 部门列表</a> 
            <a class="btn btn-warning" href="@Url.Action("Edit", new { controller = "Department", id = Model.Id, area = "Admin" })"><i class="icon-edit icon-white"></i> 编辑</a> 
            <a class="btn btn-danger" href="@Url.Action("Delete", new { controller = "Department", id = Model.Id, area = "Admin" })"><i class="icon-remove icon-white"></i> 删除</a>
        </p>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(function () {
        var menu = $('a#department-manage');
        menuNavActive(menu);

        $('#myTab a:first').tab('show');
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
}