@model Rhea.Model.Personnel.Department

@{
    ViewBag.Title = "部门编辑";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Department.cshtml";
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-tasks"></i>部门信息</h2>   
    </div>

    <div class="box-content"> 
        <div class="row-fluid">
            <div class="span12">

            @using (Html.BeginForm())
            {                
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>部门编辑</legend>

                    @Html.HiddenFor(model => model.Id)

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#info">基础信息</a></li>
                        <li><a href="#scale">规模信息</a></li>
                        <li><a href="#research">科研信息</a></li>
                        <li><a href="#special">特殊面积</a></li>
                    </ul>

                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane active" id="info">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:150px">
                                            属性
                                        </th>
                                        <th>
                                            值
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Name)
                                            @Html.ValidationMessageFor(model => model.Name)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.ShortName)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ShortName)
                                            @Html.ValidationMessageFor(model => model.ShortName)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Type)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Type)
                                            @Html.ValidationMessageFor(model => model.Type)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.ImageUrl)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ImageUrl)
                                            @Html.ValidationMessageFor(model => model.ImageUrl)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.LogoUrl)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.LogoUrl)
                                            @Html.ValidationMessageFor(model => model.LogoUrl)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Description)
                                            @Html.ValidationMessageFor(model => model.Description)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @if (Model.Type == (int)DepartmentType.Type1)
                        {
                        <div class="tab-pane" id="scale">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:150px">
                                            属性
                                        </th>
                                        <th>
                                            值
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.BachelorCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.BachelorCount)
                                            @Html.ValidationMessageFor(model => model.BachelorCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.GraduateCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.GraduateCount)
                                            @Html.ValidationMessageFor(model => model.GraduateCount)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.MasterOfEngineerCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.MasterOfEngineerCount)
                                            @Html.ValidationMessageFor(model => model.MasterOfEngineerCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.DoctorCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.DoctorCount)
                                            @Html.ValidationMessageFor(model => model.DoctorCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.StaffCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.StaffCount)
                                            @Html.ValidationMessageFor(model => model.StaffCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.PartyLeaderCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.PartyLeaderCount)
                                            @Html.ValidationMessageFor(model => model.PartyLeaderCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.SectionChiefCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.SectionChiefCount)
                                            @Html.ValidationMessageFor(model => model.SectionChiefCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.ProfessorCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ProfessorCount)
                                            @Html.ValidationMessageFor(model => model.ProfessorCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.AssociateProfessorCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.AssociateProfessorCount)
                                            @Html.ValidationMessageFor(model => model.AssociateProfessorCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.MediumTeacherCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.MediumTeacherCount)
                                            @Html.ValidationMessageFor(model => model.MediumTeacherCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.AdvanceAssistantCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.AdvanceAssistantCount)
                                            @Html.ValidationMessageFor(model => model.AdvanceAssistantCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.MediumAssistantCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.MediumAssistantCount)
                                            @Html.ValidationMessageFor(model => model.MediumAssistantCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.SubjectType)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.SubjectType)
                                            @Html.ValidationMessageFor(model => model.SubjectType)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.FactorK1)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.FactorK1)
                                            @Html.ValidationMessageFor(model => model.FactorK1)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.FactorK3)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.FactorK3)
                                            @Html.ValidationMessageFor(model => model.FactorK3)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="research">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:150px">
                                            属性
                                        </th>
                                        <th>
                                            值
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.LongitudinalFunds)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.LongitudinalFunds)
                                            @Html.ValidationMessageFor(model => model.LongitudinalFunds)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.TransverseFunds)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.TransverseFunds)
                                            @Html.ValidationMessageFor(model => model.TransverseFunds)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.CompanyFunds)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.CompanyFunds)
                                            @Html.ValidationMessageFor(model => model.CompanyFunds)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="special">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:150px">
                                            属性
                                        </th>
                                        <th>
                                            值
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.TalentArea)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.TalentArea)
                                            @Html.ValidationMessageFor(model => model.TalentArea)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.ResearchBonusArea)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ResearchBonusArea)
                                            @Html.ValidationMessageFor(model => model.ResearchBonusArea)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.ExperimentBonusArea)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ExperimentBonusArea)
                                            @Html.ValidationMessageFor(model => model.ExperimentBonusArea)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.AdjustArea)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.AdjustArea)
                                            @Html.ValidationMessageFor(model => model.AdjustArea)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        }
                        else
                        {
                        <div class="tab-pane" id="scale">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:150px">
                                            属性
                                        </th>
                                        <th>
                                            值
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.PresidentCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.PresidentCount)
                                            @Html.ValidationMessageFor(model => model.PresidentCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.VicePresidentCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.VicePresidentCount)
                                            @Html.ValidationMessageFor(model => model.VicePresidentCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.ChiefCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ChiefCount)
                                            @Html.ValidationMessageFor(model => model.ChiefCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.ViceChiefCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ViceChiefCount)
                                            @Html.ValidationMessageFor(model => model.ViceChiefCount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.MemberCount)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.MemberCount)
                                            @Html.ValidationMessageFor(model => model.MemberCount)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        }
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">保存</button>
                        <a class="btn" href="@Url.Action("Details", new { controller = "Department", id = Model.Id, area = "Admin" })">取消</a> 
                        <a class="btn" href="@Url.Action("List", new { controller = "Department", area = "Admin" })">回到列表</a> 
                    </div>

                </fieldset>
            }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var menu = $('a#department-manage');
        menuNavActive(menu);

        $('#myTab a:first').tab('show');
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>