@model Rhea.Model.Personnel.Department

@{
    ViewBag.Title = "部门编辑";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Personnel.cshtml";
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Estate")">房产管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">人事管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>部门编辑
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>部门属性</legend>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model._id)
                        @Html.HiddenFor(model => model.DepartmentId)

                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-2">属性</th>
                                    <th class="col-md-8">值</th>
                                    <th class="col-md-2">验证</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.ShortName)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Type)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.ImageUrl)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.LogoUrl)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.LogoUrl, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.LogoUrl, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.PartMapUrl)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.PartMapUrl, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.PartMapUrl, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Description)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <hr />
                        <p>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;保存</button>
                            <a href="@Url.Action("List", new { controller = "Department" })" class="btn btn-default" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                        </p>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section scripts {
    <script type="text/javascript">
        $(function () {
            Rhea.topNavActive($('#personnel-nav'));
            Rhea.leftNavActive($('#department-list-menu'));
        });
    </script>
}
