@model Rhea.Data.Estate.StatisticHomeModel
@{
    ViewBag.Title = "房产统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Responsive navigation button-->
<div class="resBtn">
    <a href="#"><span class="icon16 icomoon-icon-list-view-2"></span></a>
</div>

<!--Left Sidebar collapse button-->
<div class="collapseBtn leftbar">
    <a href="#" class="tip" title="Hide Left Sidebar"><span class="icon12 icomoon-icon-arrow-first">
    </span></a>
</div>

<!--Sidebar background-->
<div id="sidebarbg">
</div>

<!--Sidebar content-->
<div id="sidebar">
    <div class="shortcuts">
        <ul>
            <li><a href="#" title="Support" class="tip"><span class="icon24 icomoon-icon-support">
            </span></a></li>
            <li><a href="#" title="Backup" class="tip"><span class="icon24 icomoon-icon-database">
            </span></a></li>
            <li><a href="#" title="Statistics" class="tip"><span class="icon24 icomoon-icon-pie-2">
            </span></a></li>
            <li><a href="#" title="Request" class="tip"><span class="icon24 icomoon-icon-pencil">
            </span></a></li>
        </ul>
    </div>

    <div class="sidenav">
        <div class="sidebar-widget" style="margin: -1px 0 0 0;">
            <h5 class="title" style="margin-bottom: 0">
                导航</h5>
        </div>
        <!-- End .sidenav-widget -->
        <div class="mainnav">
            <ul>
                <li><a href="#" id="summary"><span class="icon16 icomoon-icon-newspaper"></span>摘要</a></li>
                <li><a href="#"><span class="icon16 icomoon-icon-grid"></span>建筑物面积数据</a>
                    <ul class="sub">
                        <li><a href="#" id="building-group-usable-area-compare"><span class="icon16 icomoon-icon-cube"></span>楼群使用面积比较</a></li>
                        <li><a href="#" id="building-group-build-area-compare"><span class="icon16 icomoon-icon-cube-2"></span>楼群建筑面积比较</a></li>
                        <li><a href="#" id="building-group-space-rate-compare"><span class="icon16 icomoon-icon-home-4"></span>楼群得房率比较</a></li>
                        <li><a href="#" id="total-build-area"><span class="icon16 icomoon-icon-home-8"></span>总建筑面积</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="icon16 icomoon-icon-book"></span>学院房屋数据</a>
                    <ul class="sub">
                        <li><a href="#" id="department-usable-area-compare"><span class="icon16 icomoon-icon-stats-up "></span>学院使用面积比较</a></li>
                        <li><a href="#" id="department-building-area-statistic"><span class="icon16 icomoon-icon-ladder"></span>学院楼宇用房统计</a></li>
                        <li><a href="#" id="department-classify-area-statistic"><span class="icon16 icomoon-icon-drawer-2"></span>学院分类用房统计</a></li>
                        <li><a href="#" id="department-classify-area-compare"><span class="icon16 icomoon-icon-box"></span>学院分类用房比较</a></li>
                        <li><a href="#" id="department-avgoffice-area-compare"><span class="icon16 icomoon-icon-accessibility"></span>人均办公用房面积比较</a></li>
                        <li><a href="#" id="department-avgmeeting-area-compare"><span class="icon16 icomoon-icon-comments-7"></span>人均会议用房面积比较</a></li>
                        <li><a href="#" id="department-avgresearch-area-compare"><span class="icon16 icomoon-icon-reading"></span>人均科研用房面积比较</a></li>
                        <li><a href="#" id="department-avgfunds-area-compare"><span class="icon16 icomoon-icon-coins"></span>科研经费用房面积比较</a></li>
                        <li><a href="#" id="department-indicator-compare"><span class="icon16 icomoon-icon-rulers"></span>用房指标比较</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="icon16 icomoon-icon-equalizer-2"></span>行政机关房屋数据</a>
                    <ul class="sub">
                        <li><a href="#" id="institution-office-area-compare"><span class="icon16 icomoon-icon-stats-up"></span>办公用房面积比较</a></li>
                        <li><a href="#" id="institution-avgoffice-area-compare"><span class="icon16 icomoon-icon-accessibility"></span>人均办公用房面积比较</a></li>
                        <li><a href="#" id="institution-indicator-compare"><span class="icon16 icomoon-icon-rulers"></span>用房指标比较</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End sidenav -->
    <div class="sidebar-widget">
        <h5 class="title">
            校控房比例</h5>
        <div class="content">
            <span class="icon16 icomoon-icon-loop left"></span>
            <div class="progress progress-mini progress-danger left tip" title="@Model.UniversityControlPercentage%">
                <div class="bar" style="width: @Model.UniversityControlPercentage%;">
                </div>
            </div>
            <span class="percent">@Model.UniversityControlPercentage%</span>
            <div class="stat">@Model.UniversityControlArea / @Model.TotalArea m<sup>2</sup></div>
        </div>
    </div>
    <!-- End .sidenav-widget -->
</div>
<!-- End #sidebar -->

<!--Body content-->
<div id="content" class="clearfix">
    <div class="contentwrapper">
        <!-- Build page from here: -->
        <div id="ajax-content1">
            
        </div>
        <!--End page -->
    </div>
</div>
<!-- End #content -->

@section scripts {
<script type="text/javascript">
    $(function () {
        $('.navbar .nav #nav-statistic').parent().addClass('active');
        $('.tip').tooltip();

        $('a#building-group-usable-area-compare').click(function () {
            ajaxLoadPage2("BuildingGroupUsableAreaCompare", "Statistic", {});
            return false;
        });

        $('a#building-group-build-area-compare').click(function () {
            ajaxLoadPage2("BuildingGroupBuildAreaCompare", "Statistic", {});
            return false;
        });

        $('a#building-group-space-rate-compare').click(function () {
            ajaxLoadPage2("BuildingGroupSpaceRateCompare", "Statistic", {});
            return false;
        });

        $('a#total-build-area').click(function () {
            ajaxLoadPage2("TotalUseTypeArea", "Statistic", {});
            return false;
        });

        $('a#department-usable-area-compare').click(function () {
            ajaxLoadPage2("DepartmentUsableAreaCompare", "Statistic", {});
            return false;
        });

        $('a#department-building-area-statistic').click(function () {
            ajaxLoadPage2("DepartmentBuildingAreaStatistic", "Statistic", {});
            return false;
        });

        $('a#department-classify-area-statistic').click(function () {
            ajaxLoadPage2("DepartmentClassifyAreaStatistic", "Statistic", {});
            return false;
        });

        $('a#department-classify-area-compare').click(function () {
            ajaxLoadPage2("DepartmentClassifyAreaCompare", "Statistic", {});
            return false;
        });

        $('a#department-avgoffice-area-compare').click(function () {
            ajaxLoadPage2("DepartmentAverageOfficeAreaCompare", "Statistic", {});
            return false;
        });

        $('a#department-avgmeeting-area-compare').click(function () {
            ajaxLoadPage2("DepartmentAverageMeetingAreaCompare", "Statistic", {});
            return false;
        });

        $('a#department-avgresearch-area-compare').click(function () {
            ajaxLoadPage2("DepartmentAverageResearchAreaCompare", "Statistic", {});
            return false;
        });

        $('a#department-avgfunds-area-compare').click(function () {
            ajaxLoadPage2("DepartmentResearchFundsAreaCompare", "Statistic", {});
            return false;
        });

        $('a#department-indicator-compare').click(function () {
            ajaxLoadPage2("DepartmentIndicatorCompare", "Statistic", {});
            return false;
        });

        $('a#institution-office-area-compare').click(function () {
            ajaxLoadPage2("InstitutionOfficeAreaCompare", "Statistic", {});
            return false;
        });

        $('a#institution-avgoffice-area-compare').click(function () {
            ajaxLoadPage2("InstitutionAverageOfficeAreaCompare", "Statistic", {});
            return false;
        });

        $('a#institution-indicator-compare').click(function () {
            ajaxLoadPage2("InstitutionIndicatorCompare", "Statistic", {});
            return false;
        });
    });
</script>
}