@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    UserBusiness business = new UserBusiness();
    var user = business.GetByUserName(User.Identity.Name);
    user.AvatarSmall = RheaConstant.AvatarRoot + user.AvatarSmall;
    <li class="dropdown dropdown-user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img alt="" class="img-circle" src="@user.AvatarSmall" />
            <span class="username username-hide-on-mobile">
                @user.Name
            </span>
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", new { area = "", controller = "Account" })">
                    <i class="fa fa-user"></i> 信 息
                </a>
            </li>
            <li>
                <a href="page_calendar.html">
                    <i class="fa fa-calendar"></i> 日 历
                </a>
            </li>
            <li>
                <a href="inbox.html">
                    <i class="fa fa-inbox"></i> 收 件 箱 <span class="badge badge-danger">
                        3
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-tasks"></i> 任 务 <span class="badge badge-success">
                        7
                    </span>
                </a>
            </li>
            @if (User.GetRank() >= 900)
            {
                <li>
                    <a href="@Url.Action("Index", new { area = "Admin", controller = "Home" })" target="_blank">
                        <i class="fa fa-cog"></i> 后 台
                    </a>
                </li>
            }
            <li class="divider">
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-lock"></i> 锁 定
                </a>
            </li>
            <li>
                <a href="@Url.Action("Logout", new { area = "", controller = "Account" })">
                    <i class="fa fa-power-off"></i> 注 销
                </a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="dropdown dropdown-user">
        <a href="@Url.Action("Login", new { area = "", controller= "Account" })">
            <span class="username username-hide-on-mobile">
                登录
            </span>
            <i class="fa fa-angle-down"></i>
        </a>
    </li>
}
