@if (Request.IsAuthenticated)
{    
    <li class="dropdown">
        <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
            <img src="/Images/avatar.png" alt="" class="image" /> 
            <span class="txt">@User.Identity.Name</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="menu">
                <ul>
                    <li>
                        <a href="@Url.Action("Info", new { controller = "Account", area = "" })"><span class="icon16 icomoon-icon-user-3"></span>信息</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Setting", new { controller = "Account", area = "" })"><span class="icon16 icomoon-icon-cog-2"></span>设置</a>
                    </li>
                    @if (User.Rank() >= 600)
                    {
                    <li>
                        <a href="@Url.Action("Index", new { controller = "Home", area = "Admin" })"><span class="icon16 icomoon-icon-cog-2"></span>后台</a>
                    </li>
                    }
                    <li>
                        <a href="@Url.Action("Logout", new { controller = "Account", area = "" })"><span class="icon16 icomoon-icon-exit"></span>注销</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
}
else
{
    <li><a href="@Url.Action("Login", new { controller = "Account", area = "" })"><span class="icon16 icomoon-icon-user-2"></span> 登录</a></li>
}
