@model Rhea.Model.Apartment.Inhabitant

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        @if(Model == null)
        {
            <h2>当前无住户</h2>
        }
        else
        {  
        <table class="table table-bordered table-striped table-hover table-advance">
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.JobNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.JobNumber)
                    </td>
                    <td rowspan="5">
                        <img class="media-object" alt="照片">
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Gender)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Type)
                    </td>
                    <td>
                        @ViewBag.InhabitantType
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DepartmentName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Duty)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(model => model.Duty)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(model => model.Telephone)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.IdentityCard)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(model => model.IdentityCard)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Marriage)
                    </td>
                    <td colspan="2">
                       @Html.DisplayFor(model => model.Marriage)
                        @if (Model.IsCouple == true)
                        {
                            <span>(双职工)</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.MateName)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(model => model.MateName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.LiHuEnterDate)
                    </td>
                    <td colspan="2">
                        @Model.LiHuEnterDate.ToDateString()
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Remark)
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(model => model.Remark)
                    </td>
                </tr>
            </tbody>
        </table>
        }
    </div>
</div>
