@model Rhea.Model.Apartment.ApartmentRoom

@{
    ViewBag.Title = Model.Name;
    Layout = null;
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">青教公寓</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-10 col-xs-12">
        <div class="row">
            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>房间信息
                        </div>
                        <div class="tools">
                            <a href="#" class="collapse">
                            </a>
                            <a href="#" class="reload">
                            </a>
                            <a href="#" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered table-striped table-hover table-advance">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Number)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Floor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Floor)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.UsableArea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.UsableArea) m<sup>2</sup>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.HouseType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.HouseType)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.HasAirCondition)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.HasAirCondition)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.HasWaterHeater)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.HasWaterHeater)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Orientation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Orientation)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.ResideType)
                                    </td>
                                    <td>
                                        @{
                                            var type1 = (ResideType)Model.ResideType;
                                            @type1.DisplayName();
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Remark)
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <hr />
                        <p>
                            <a href="/Apartment/Building/Block/@Model.BuildingId" class="btn btn-primary ajaxify" role="button"><i class="fa fa-list"></i>&nbsp;回到楼宇</a>
                            <a href="/Apartment/Building/Floor?buildingId=@Model.BuildingId&floor=@Model.Floor" class="btn blue-hoki ajaxify" role="button"><i class="fa fa-align-center"></i>&nbsp;回到楼层</a>
                            <a href="/Apartment/Room/Edit/@Model.RoomId" class="btn btn-warning ajaxify" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-male"></i>当前住户
                        </div>
                        <div class="tools">
                            <a href="#" class="collapse">
                            </a>
                            <a href="#" class="reload">
                            </a>
                            <a href="#" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        @Html.Action("CurrentInhabitant", new { id = Model.RoomId })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-history"></i>居住记录
                        </div>
                        <div class="tools">
                            <a href="#" class="collapse">
                            </a>
                            <a href="#" class="reload">
                            </a>
                            <a href="#" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        @Html.Action("ListByRoom", new { controller = "ResideRecord", roomId = Model.RoomId })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 hidden-xs">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-tree"></i>房间列表
                </div>
                <div class="tools">
                    <a href="#" class="collapse">
                    </a>
                    <a href="#" class="reload">
                    </a>
                    <a href="#" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">                
                @Html.Action("Tree", new { controller = "Room" })
            </div>
        </div>
    </div>
</div>

<!-- END PAGE CONTENT-->

<script type="text/javascript">
    $(function () {
        RoomTree.init($('#room-tree'));

        $('#room-tree').jstree('open_node', ['#tb_@Model.BuildingId', '#tf_@Model.BuildingId@Model.Floor']);
        $('#room-tree').jstree('select_node', '#tr_@Model.RoomId');
    })
</script>