@model IEnumerable<Rhea.UI.Areas.Apartment.Models.RoomResideModel>

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover table-advance" id="room-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HouseType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsableArea) (m<sup>2</sup>)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomResideType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InhabitantName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InhabitantDepartment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResideType)
                    </th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HouseType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsableArea)
                        </td>
                        <td>
                            @item.RoomResideType.DisplayName()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InhabitantName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InhabitantDepartment)
                        </td>
                        <td>
                            @item.ResideType.DisplayName()
                        </td>
                        <td>
                            <a href="/Apartment/Room/Details/@item.RoomId" class="btn btn-info btn-sm ajaxify" role="button"><i class="fa fa-check-circle"></i>&nbsp;查看</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        Rhea.initDatatable2($('#room-table'));
    });
</script>