@model IEnumerable<Rhea.UI.Areas.Apartment.Models.RoomResideModel>

@{
    ViewBag.Title = "房间列表";
    Layout = null;    
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">统计汇总</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>&nbsp;房间列表
                </div>
                <div class="tools">
                    <a href="#" class="collapse">
                    </a>
                    <a href="#" class="reload">
                    </a>
                    <a href="#" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-advance" id="room-table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HouseType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Orientation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsableArea) (m<sup>2</sup>)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomResideType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InhabitantName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InhabitantDepartment)
                                </th>
                                <th>居住状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>房间名称</th>
                                <th data-filter="true">户型</th>
                                <th data-filter="true">朝向</th>
                                <th data-filter="true">使用面积</th>
                                <th data-filter="true">居住类型</th>
                                <th>居住人姓名</th>
                                <th data-filter="true">居住人部门</th>
                                <th data-filter="true">居住状态</th>
                                <th>&nbsp;</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HouseType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Orientation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UsableArea)
                                    </td>
                                    <td>
                                        @item.RoomResideType.DisplayName()
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InhabitantName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InhabitantDepartment)
                                    </td>
                                    <td>
                                        @switch ((EntityStatus)item.RecordStatus)
                                        {
                                            case EntityStatus.Normal:
                                            <span class="label label-success">居住中</span>
                                                break;
                                            case EntityStatus.OverTime:
                                            <span class="label label-danger">超期</span>
                                                break;
                                            case EntityStatus.ExtendTime:
                                            <span class="label label-warning">延期</span>
                                                break;
                                            case EntityStatus.MoveOut:
                                            <span class="label label-default">已搬出</span>
                                                break;
                                            case EntityStatus.ExtendOut:
                                            <span class="label bg-grey-cascade">已延期</span>
                                                break;
                                            default:
                                            <span class="label bg-green-jungle">空闲</span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        <a href="/Apartment/Room/Details/@item.RoomId" class="btn btn-info btn-sm ajaxify" role="button"><i class="fa fa-check-circle"></i>&nbsp;查看</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->


<script type="text/javascript">
    $(function () {
        Rhea.initDatatableWithFilter($('#room-table'));
    });
</script>