@model Rhea.UI.Areas.Apartment.Models.RoomResideModel

@{
    Layout = null;
}

<div class="portlet box blue-hoki">
    <div class="portlet-title" style="border-bottom-width:0px;">
        <div class="caption">
            <i class="fa fa-gift"></i>&nbsp;@Model.Name
        </div>
        <div class="actions">
            <a href="/Apartment/Room/Details/@Model.RoomId" class="btn btn-default btn-sm ajaxify">
                <i class="fa fa-plus"></i> 查看
            </a>
        </div>
    </div>
    <div class="portlet-body" style="padding:0px;">
        <table class="table table-bordered" style="margin-bottom:0px;">
            <tbody>
                <tr>
                    <td>
                        房间名称
                    </td>
                    <td>
                        @Model.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        户型
                    </td>
                    <td>
                        @Model.HouseType
                    </td>
                </tr>
                <tr>
                    <td>
                        朝向
                    </td>
                    <td>
                        @Model.Orientation
                    </td>
                </tr>
                <tr>
                    <td>
                        面积
                    </td>
                    <td>
                        @Model.UsableArea m<sup>2</sup>
                    </td>
                </tr>
                <tr>
                    <td>
                        居住类型
                    </td>
                    <td>
                        @Model.RoomResideType.DisplayName()
                    </td>
                </tr>
                <tr>
                    <td>
                        居住人
                    </td>
                    <td>
                        @Model.InhabitantName
                    </td>
                </tr>
                <tr>
                    <td>
                        部门
                    </td>
                    <td>
                        @Model.InhabitantDepartment
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
