@model Rhea.Data.Estate.BuildingClassifyAreaModel

@{
    ViewBag.Title = "楼宇分类用房面积";
    Layout = null;
}

<style type="text/css">
table#classify-table td { text-align:center; }
</style>

<div class="page-header">
    <h3>
        @ViewBag.Title</h3>
</div>

<div class="row-fluid">
    <div class="span12">
        <table id="classify-table" class="table table-bordered">
            <thead>
                <tr>
                    <th>一级分类</th>
                    <th>编码</th>
                    <th>二级分类</th>
                    <th>使用面积 (m<sup>2</sup>)</th>
                    <th>房间数量</th>
                    <th>总使用面积 (m<sup>2</sup>)</th>
                    <th>总房间数量</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.FirstClassify)
            {
                if (item.SecondClassify.Count == 0)
                {
                    continue;
                }
                <tr>
                    <td rowspan="@item.SecondClassify.Count">
                        @item.Title
                    </td>
                    <td>
                        @string.Format("{0}.{1}", item.SecondClassify[0].FunctionFirstCode, item.SecondClassify[0].FunctionSecondCode)
                    </td>
                    <td>
                        @item.SecondClassify[0].FunctionProperty
                    </td>
                    <td>
                        @item.SecondClassify[0].Area
                    </td>
                    <td>
                        @item.SecondClassify[0].RoomCount
                    </td>
                    <td rowspan="@item.SecondClassify.Count">
                        @item.Area
                    </td>
                    <td rowspan="@item.SecondClassify.Count">
                        @item.RoomCount
                    </td>
                </tr>
                for (int i = 1; i < item.SecondClassify.Count; i++)
                {
                <tr>
                    <td>
                        @string.Format("{0}.{1}", item.SecondClassify[i].FunctionFirstCode, item.SecondClassify[i].FunctionSecondCode)
                    </td>
                    <td>
                        @item.SecondClassify[i].FunctionProperty
                    </td>
                    <td>
                        @item.SecondClassify[i].Area
                    </td>
                    <td>
                        @item.SecondClassify[i].RoomCount
                    </td>
                </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>