@model Rhea.UI.Areas.Estate.Models.ClusterIndexModel

@{
    ViewBag.Title = Model.Cluster.Name;
    Layout = null;
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title <small>@Model.Cluster.Remark</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Estate", controller= "Home" })">房产管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">组团主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row profile">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab">
                        摘要
                    </a>
                </li>
                <li>
                    <a href="#tab_1_2" data-toggle="tab">
                        信息
                    </a>
                </li>
                <li>
                    <a href="#tab_1_3" data-toggle="tab">
                        房间
                    </a>
                </li>
                <li>
                    <a href="#tab_1_4" data-toggle="tab">
                        统计
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">组团全景</h3>
                                </div>
                                <div class="panel-body no-padding">
                                    <img src="@Model.Cluster.ImageUrl" class="img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">组团地图</h3>
                                </div>
                                <div class="panel-body no-padding">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">组团导航</h3>
                                </div>
                                <div class="panel-body no-padding">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portlet profile-summary">
                                <div class="portlet-title">
                                    <div class="caption">
                                        概况
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="sale-info">
                                                名称
                                            </span>
                                            <span class="sale-num">
                                                @Model.Cluster.Name
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                建筑面积
                                            </span>
                                            <span class="sale-num">
                                                @Model.Cluster.BuildArea m<sup>2</sup>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                使用面积
                                            </span>
                                            <span class="sale-num">
                                                @Model.Cluster.UsableArea
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                计划面积
                                            </span>
                                            <span class="sale-num">
                                                @Model.Cluster.PlanningArea
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                建成日期
                                            </span>
                                            <span class="sale-num">
                                                @Model.Cluster.BuildDate.ToDateString()
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group">
                                @foreach (var item in Model.Blocks)
                                {
                                    <a href="/Estate/Building/Index/@item.BuildingId" class="list-group-item list-group-item-info ajaxify">
                                        <i class="fa fa-plus-square"></i> @item.Name
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tabbable tabbable-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab_1_11" data-toggle="tab">
                                            组团入驻部门
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_22" data-toggle="tab">
                                            其它
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_11">
                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            部门名称
                                                        </th>
                                                        <th>
                                                            房间数量
                                                        </th>
                                                        <th>
                                                            使用面积 (m<sup>2</sup>)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.EnterDepartment)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.DepartmentName
                                                            </td>
                                                            <td>
                                                                @item.RoomCount
                                                            </td>
                                                            <td>
                                                                @item.TotalUsableArea
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td>合计</td>
                                                        <td>@Model.EnterDepartment.Sum(r => r.RoomCount)</td>
                                                        <td>@Model.EnterDepartment.Sum(r => r.TotalUsableArea)</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <!--tab-pane-->
                                    <div class="tab-pane" id="tab_1_22">
                                    </div>
                                    <!--tab-pane-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_1_2">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="ver-inline-menu tabbable margin-bottom-10">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab_1_2_1">
                                        <i class="fa fa-info"></i> 组团信息
                                    </a>
                                    <span class="after">
                                    </span>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_1_2_2">
                                        <i class="fa fa-indent"></i> 楼宇信息
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_1_2_3">
                                        <i class="fa fa-image"></i> 图片集
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div id="tab_1_2_1" class="tab-pane active">
                                    <div class="portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-info-circle"></i> 详细信息
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            @Html.Action("ClusterDetails", new { id = Model.Cluster.BuildingId })
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_1_2_2">
                                    <div class="portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-indent"></i> 下属楼宇信息
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table class="table table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            楼宇名称
                                                        </th>
                                                        <th>
                                                            建筑面积(m<sup>2</sup>)
                                                        </th>
                                                        <th>
                                                            使用面积(m<sup>2</sup>)
                                                        </th>
                                                        <th>
                                                            地上楼层
                                                        </th>
                                                        <th>
                                                            地下楼层
                                                        </th>
                                                        <th>
                                                            使用类型
                                                        </th>
                                                        <th>
                                                            操作
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Blocks)
                                                    {
                                                        <tr>
                                                            <td>@item.Name</td>
                                                            <td>@item.BuildArea</td>
                                                            <td>@item.UsableArea</td>
                                                            <td>@item.AboveGroundFloor</td>
                                                            <td>@item.UnderGroundFloor</td>
                                                            <td>
                                                                @{
                                                                    var type3 = (BuildingUseType)item.UseType;
                                                                    @type3.DisplayName();
                                                                }
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-success btn-sm ajaxify" href="/Estate/Building/Index/@item.BuildingId"><i class="fa fa-search-plus"></i>详细</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane" id="tab_1_2_3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_1_3">

                </div>
                <div class="tab-pane" id="tab_1_4">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

<script type="text/javascript">
    $(function () {

    });
</script>