@model Rhea.Model.Estate.Building
@using Rhea.Common

@{
    ViewBag.Title = "楼宇信息";
    Layout = null;
}


<div class="box">
    <div class="box-header well" data-original-title>
        <h2><i class="icon-tasks"></i>@ViewBag.Title</h2>    
    </div>

    <div class="box-content">    
        <div class="page-header">
            <h2>
                @Model.Name <small>Id: @Model.Id</small></h2>
        </div>
                  
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                属性
                            </th>
                            <th>
                                值
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td>
                                @Model.Name
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.BuildArea)
                            </td>
                            <td>
                                @Model.BuildArea
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UsableArea)
                            </td>
                            <td>
                                @Model.UsableArea
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.AboveGroundFloor)
                            </td>
                            <td>
                                @Model.AboveGroundFloor
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UnderGroundFloor)
                            </td>
                            <td>
                                @Model.UnderGroundFloor
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UseType)
                            </td>
                            <td>
                                @{
                                    var type = (BuildingUseType)Model.UseType;
                                    @type.DisplayName(); 
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p>
            <a class="btn btn-success" href="#" id="return"><i class="icon-arrow-left icon-white"></i> 返回</a>            
        </p>
    </div>
</div>


<div class="box">
    <div class="box-header well" data-original-title>
        <h2><i class="icon-list"></i>楼层列表</h2>    
    </div>

    <div class="box-content">    
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                名称
                            </th>
                            <th>
                                编号
                            </th>
                            <th>
                                建筑面积 (m<sup>2</sup>)
                            </th>
                            <th>
                                使用面积 (m<sup>2</sup>)
                            </th>
                            <th>
                                平面图
                            </th>                            
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Floors)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Number
                            </td>
                            <td>
                                @item.BuildArea
                            </td>
                            <td>
                                @item.UsableArea
                            </td>
                            <td>
                                @item.ImageUrl
                            </td>                            
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('a#return').click(function () {
            var bid = '@Model.BuildingGroupId';
            ajaxLoadPage("Details", "BuildingGroup", "Estate", { id: bid });
            return false;
        });
    });
</script>