@model IEnumerable<Rhea.UI.Areas.Estate.Models.FloorDepartmentModel>

@{
    ViewBag.Title = "楼层入住部门";
    Layout = null;
}


<div class="box">
    <div class="title">
        <h4>
            <span class="icon16 icomoon-icon-tag"></span><span>@ViewBag.Title</span>
        </h4>
        <a href="#" class="minimize">Minimize</a>
    </div>

    <div class="content noPad">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        部门名称
                    </th>
                    <th>
                        房间数量
                    </th>
                    <th>
                        使用总面积 (m<sup>2</sup>)
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>合计</td>
                    <td>@Model.Sum(r => r.RoomCount)</td>
                    <td>@Model.Sum(r => r.TotalUsableArea)</td>
                </tr>
            </tfoot>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.DepartmentName
                    </td>
                    <td>
                        @item.RoomCount
                    </td>
                    <td>
                        @item.TotalUsableArea
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


