@model Rhea.Model.Estate.Building

@{
    ViewBag.Title = "楼层列表";
    Layout = null;
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2><i class="icon-th-list"></i>楼层列表</h2>    
    </div>

    <div class="box-content">               
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                名称
                            </th>
                            <th>
                                建筑面积 (m<sup>2</sup>)
                            </th>
                            <th>
                                使用面积 (m<sup>2</sup>)
                            </th>
                            <th>
                                详细
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Floors)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.BuildArea
                            </td>
                            <td>
                                @item.UsableArea
                            </td>
                            <td>
                                <a class="btn btn-success floor-details" href="#" ref="@item.Id" svg-file="@item.ImageUrl">
                                    <i class="icon-zoom-in icon-white"></i>查看 
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

