@model Rhea.Model.Estate.Building

@{
    ViewBag.Title = "楼层列表";
    Layout = null;
}

<div class="box">
    <div class="box-header well" data-original-title>
        <h2><i class="icon-th-list"></i>楼层列表</h2>    
    </div>

    <div class="box-content">               
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                名称
                            </th>                            
                            <th>
                                建筑面积
                            </th>
                            <th>
                                使用面积
                            </th>
                            <th>
                                详细
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Floors)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>                           
                            <td>
                                @item.BuildArea
                            </td>
                            <td>
                                @item.UsableArea
                            </td>
                            <td>
                                <a class="btn btn-success floor-details" href="#" ref="@item.Id" svg-file="@item.ImageUrl">
                                    <i class="icon-zoom-in icon-white"></i>查看 
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var svg;
        var zoomRate = 1.1;

        $('a#zoom-in').click(function () {
            zoom2('zoomIn');
            return false;
        });

        $('a#zoom-out').click(function () {
            zoom2('zoomOut');
            return false;
        });

        function zoom2(zoomType) {
            //var viewBox = svg.attr('viewBox');
            //var viewBoxValues = viewBox.split(' ');
            var width = parseFloat(svg.attr('width'));
            var height = parseFloat(svg.attr('height'));
            //viewBoxValues[2] = parseFloat(viewBoxValues[2]);
            //viewBoxValues[3] = parseFloat(viewBoxValues[3]);

            if (zoomType == 'zoomIn') {
                //viewBoxValues[2] *= zoomRate; // Decrease the width and height attributes of the viewBox attribute to zoom in.
                //viewBoxValues[3] *= zoomRate;
                width *= zoomRate;
                height *= zoomRate;
            }
            else if (zoomType == 'zoomOut') {
                //viewBoxValues[2] /= zoomRate; // Increase the width and height attributes of the viewBox attribute to zoom out.
                //viewBoxValues[3] /= zoomRate;
                width /= zoomRate;
                height /= zoomRate;
            }
            //svg.attr('viewBox', viewBoxValues.join(' '));
            svg.attr('width', width);
            svg.attr('height', height);
        }

        $('a.floor-details').click(function () {            
            var svgFile = '/Attachment/svg/300173.svg';

            if (svgFile != '') {
                $('div#svg').load(svgFile, function () {
                    svg = $(this).children('svg');
                    var s0 = svg[0];
                    var viewBox = s0.getAttribute('viewBox');
                    //svg.attr('viewBox', viewBox);                   

                    $("svg g[id^='g']").click(function () {
                        var id = $(this).attr('id').toString().substring(1);
                        $("svg rect[class='room-select']").attr('class', 'fil0');
                        $(this).children('[ref=bound]').attr('class', 'room-select');
                        $('#room-summary').load('/Estate/Room/Summary', { id: id });
                    });
                });
            }

            return false;
        });
    });
</script>