@model IEnumerable<Rhea.Model.Estate.Building>
@using Rhea.Common

@{
    ViewBag.Title = "楼宇列表";
    Layout = null;
}

<div class="box">
    <div class="title">
        <h4>
            <span class="icon16 icomoon-icon-list-view-2"></span><span>@ViewBag.Title</span>
        </h4>
        <a href="#" class="minimize">Minimize</a>
    </div>

    <div class="content noPad">
        <table id="building-list" class="responsive table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        楼宇名称
                    </th>
                    <th>
                        建筑面积(m<sup>2</sup>)
                    </th>
                    <th>
                        使用面积(m<sup>2</sup>)
                    </th>
                    <th>
                        地上楼层
                    </th>
                    <th>
                        地下楼层
                    </th>
                    <th>
                        使用类型
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.BuildArea</td>
                    <td>@item.UsableArea</td>
                    <td>@item.AboveGroundFloor</td>
                    <td>@item.UnderGroundFloor</td>
                    <td>
                    @{
                        var type = (BuildingUseType)item.UseType;
                        @type.DisplayName(); 
                    }
                    </td>
                    <td>
                        <a class="btn btn-success btn-small building-details" href="#" ref="@item.Id"><i class="icon-zoom-in icon-white"></i>详细</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('a.building-details').click(function () {
            var bid = $(this).attr('ref');
            ajaxLoadPage("Index", "Building", "Estate", { id: bid });
            return false;
        });
    });
</script>