@model Rhea.UI.Areas.Estate.Models.SubregionIndexModel

@{
    ViewBag.Title = Model.Subregion.Name;
    Layout = null;
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title <small>@Model.Subregion.Remark</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Estate", controller= "Home" })">房产管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">分区主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row profile">
    <div class="col-md-12">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs" id="main-tab">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab">
                        摘要
                    </a>
                </li>
                <li>
                    <a href="#tab_1_2" data-toggle="tab">
                        信息
                    </a>
                </li>
                <li>
                    <a href="#tab_floor" data-toggle="tab">
                        楼层
                    </a>
                </li>
                <li>
                    <a href="#tab_room" data-toggle="tab">
                        房间
                    </a>
                </li>
                <li>
                    <a href="#tab_1_4" data-toggle="tab">
                        统计
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">分区全景</h3>
                                </div>
                                <div class="panel-body no-padding">
                                    <a class="colorbox-pic" id="building-group-pic" title="@Model.Subregion.Name" href="@Model.Subregion.ImageUrl">
                                        <img src="@Model.Subregion.ImageUrl" alt="分区全景" class="img-responsive" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">分区地图</h3>
                                </div>
                                <div class="panel-body no-padding">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">分区导航</h3>
                                </div>
                                <div class="panel-body no-padding">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portlet profile-summary">
                                <div class="portlet-title">
                                    <div class="caption">
                                        概况
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="sale-info">
                                                名称
                                            </span>
                                            <span class="sale-num">
                                                @Model.Subregion.Name
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                地上楼层数
                                            </span>
                                            <span class="sale-num">
                                                @Model.Subregion.AboveGroundFloor
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                地下楼层数
                                            </span>
                                            <span class="sale-num">
                                                @Model.Subregion.UnderGroundFloor
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group">
                                @foreach (var item in Model.Subregion.Floors)
                                {
                                    <a href="#" class="list-group-item list-group-item-success sub-floor-ajax-link" data-ref="@item.FloorId">
                                        <i class="fa fa-road"></i> @item.Name
                                    </a>
                                }
                                <a href="/Estate/Building/Index/@Model.Parent.BuildingId" class="list-group-item list-group-item-info ajaxify">
                                    <i class="fa fa-reply"></i> 回到楼群
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tabbable tabbable-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab_1_11" data-toggle="tab">
                                            分区入驻部门
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_22" data-toggle="tab">
                                            其它
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_11">
                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            部门名称
                                                        </th>
                                                        <th>
                                                            房间数量
                                                        </th>
                                                        <th>
                                                            使用面积 (m<sup>2</sup>)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.EnterDepartment)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.DepartmentName
                                                            </td>
                                                            <td>
                                                                @item.RoomCount
                                                            </td>
                                                            <td>
                                                                @item.TotalUsableArea
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td>合计</td>
                                                        <td>@Model.EnterDepartment.Sum(r => r.RoomCount)</td>
                                                        <td>@Model.EnterDepartment.Sum(r => r.TotalUsableArea)</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <!--tab-pane-->
                                    <div class="tab-pane" id="tab_1_22">
                                        <div class="tab-pane active" id="tab_1_1_1">
                                            <div class="scroller" data-height="200px" data-always-visible="1" data-rail-visible1="1">
                                                <ul class="feeds"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--tab-pane-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab_1_2" class="tab-pane">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="ver-inline-menu tabbable margin-bottom-10">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab_1_2_1">
                                        <i class="fa fa-info"></i> 分区信息
                                    </a>
                                    <span class="after">
                                    </span>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_1_2_2">
                                        <i class="fa fa-image"></i> 图片集
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div id="tab_1_2_1" class="tab-pane active">
                                    <div class="portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-info-circle"></i> 详细信息
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            @Html.Action("SubregionDetails", new { id = Model.Subregion.BuildingId })
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_1_2_2">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab_floor" class="tab-pane">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="ver-inline-menu tabbable margin-bottom-25" id="floor-svg-menu">
                                @foreach (var item in Model.Subregion.Floors)
                                {
                                    <li>
                                        <a href="#f_@item.FloorId" data-toggle="tab" data-url="@item.ImageUrl" class="floor-ajax-link">
                                            <i class="fa fa-road"></i> @item.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-slack"></i>楼层平面图
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse">
                                        </a>
                                        <a href="javascript:;" class="reload">
                                        </a>
                                        <a href="javascript:;" class="remove">
                                        </a>
                                    </div>
                                    <div class="actions">
                                        <a href="#" id="zoom-in" class="btn btn-default btn-sm">
                                            <i class="fa fa-search-plus"></i> 放大
                                        </a>
                                        <a href="#" id="zoom-out" class="btn btn-default btn-sm">
                                            <i class="fa fa-search-minus"></i> 缩小
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div style="height:500px; overflow:auto;">
                                        <div id="svg"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="select-room-info">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab_room" class="tab-pane">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>房间列表
                            </div>
                            <div class="tools">
                                <a href="#" class="collapse">
                                </a>
                                <a href="#" data-load="true" data-url="/Estate/Room/ListByBuilding?buildingId=@Model.Subregion.BuildingId" class="reload">
                                </a>
                                <a href="#" class="remove">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body portlet-empty">
                        </div>
                    </div>
                </div>
                <div id="tab_1_4" class="tab-pane">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="ver-inline-menu tabbable margin-bottom-10">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab_1_4_1">
                                        <i class="fa fa-sitemap"></i> 分类统计
                                    </a>
                                    <span class="after">
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div id="tab_1_4_1" class="tab-pane active">
                                    <div class="portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-sitemap"></i>分类统计
                                            </div>
                                            <div class="tools">
                                                <a href="#" class="collapse">
                                                </a>
                                                <a href="#" data-load="true" data-url="/Estate/Building/RoomClassify/@Model.Subregion.BuildingId" class="reload">
                                                </a>
                                                <a href="#" class="remove">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body portlet-empty">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END TABS-->
    </div>
</div>
<!-- END PAGE CONTENT-->


<script type="text/javascript">
    $(function () {

        $('a.sub-floor-ajax-link').click(function () {
            $('#main-tab a[href="#tab_floor"]').tab('show')

            var id = $(this).attr('data-ref');
            $('ul#floor-svg-menu a[href="#f_' + id + '"]').click();
        });

        $('a.floor-ajax-link').click(function (e) {

            var url = $(this).attr('data-url');
            $('#select-room-info').empty();

            Rhea.ajaxLoadSvg($('div#svg'), url, function (svg) {
                $("svg g[id^='g']").toggle(
                    function () {
                        var id = $(this).attr('id').toString().substring(1);
                        $(this).children('[ref=bound]').attr('class', 'fil1');

                        var tdoc = $('<div id="s' + id + '" class="col-md-4"></div>');
                        $(tdoc).load('/Estate/Room/Summary', { id: id });
                        $('#select-room-info').append(tdoc);
                    },
                    function () {
                        var id = $(this).attr('id').toString().substring(1);
                        $(this).children('[ref=bound]').attr('class', 'fil0');

                        var tdoc = $('div#s' + id);
                        tdoc.remove();
                    }
                );
            });
        });

        Rhea.initFloorAction();

        $('ul#floor-svg-menu li:first-child a').click();
        $('.portlet .portlet-title a.reload[data-load="true"]').click();

    });
</script>