@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";  
}

@section styles {
    @RenderSection("styles", required: false)
}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU1 -->
        <ul class="page-sidebar-menu hidden-sm hidden-xs" id="left-nav" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            <!-- DOC: This is mobile version of the horizontal menu. The desktop version is defined(duplicated) in the header above -->
            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <form class="sidebar-search sidebar-search-bordered" action="extra_search.html" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class ="start left-nav-first">
                <a href="@Url.Action("Index", "Estate")" id="estate-home-menu">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">
                        房产主页
                    </span>
                </a>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-bank"></i>
                    <span class="title">
                        校区管理
                    </span>
                    <span class="arrow">
                    </span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("List", "Campus")" id="campus-list-menu">
                            校区列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Campus")" id="campus-create-menu">
                            添加校区
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-building"></i>
                    <span class="title">
                        建筑管理
                    </span>
                    <span class="arrow ">
                    </span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("List", "Building")" id="building-list-menu">
                            建筑列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Building")" id="building-create-menu">
                            添加建筑
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-columns"></i>
                    <span class="title">
                        房间管理
                    </span>
                    <span class="arrow ">
                    </span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Room")" id="room-list-menu">
                            房间列表
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Room")" id="room-create-menu">
                            添加公用房
                        </a>
                    </li>
                </ul>
            </li>
            <li class="last">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span class="title">
                        Login Page
                    </span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU1 -->
        @Html.Partial("_MenuPartial")
    </div>
</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
        @RenderBody()
    </div>
</div>
<!-- END CONTENT -->

@section scripts {
    @RenderSection("scripts", required: false)
}