@{
    ViewBag.Title = "_Layout_Advance";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    bool isRoot = User.IsInRole2("Root");
    int rank = User.Rank();
}

<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">导航</li>
            <li class="active"><a href="@Url.Action("Index", new { controller = "Advance", area = "Admin" })">主页</a></li>
            <li class="nav-header">任务</li>
            @if (isRoot)
            {
            <li><a href="@Url.Action("ArchiveSingle", new { controller = "Advance", area = "Admin" })" id="archive-single">单独归档</a></li>
            }
            <li><a href="@Url.Action("Archive", new { controller = "Advance", area = "Admin" })" id="archive-task">归档数据</a></li>
            <li><a href="@Url.Action("ArchiveList", new { controller = "Advance", area = "Admin" })" id="archive-list">归档历史</a></li>
            <li class="nav-header">地图</li>
            <li><a href="@Url.Action("MapPointList", new { controller = "Advance", area = "Admin" })" id="map-point-list">地图标点</a></li>
            @if (isRoot)
            {
            <li class="nav-header">字典</li>
            <li><a href="@Url.Action("FunctionCode", new { controller = "Advance", area = "Admin" })" id="room-function">房间功能</a></li>
            }
            <li class="nav-header">日志</li>
            <li><a href="@Url.Action("LogList", new { controller = "Advance", area = "Admin" })" id="log-list">列表</a></li>
        </ul>
    </div>
</div>

<div class="span10">
    @RenderBody()
</div>

@section scripts {
@RenderSection("scripts", required: false)
}