@model Rhea.Model.Account.UserProfile

@{
    ViewBag.Title = "用户添加";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Account.cshtml";
}


<div class="box">
    <div class="box-header well" data-original-title>
        <h2>
            <i class="icon-th-list"></i>用户信息</h2>
    </div>

    <div class="box-content">
        <div class="row-fluid">
            <div class="span12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>@ViewBag.Title</legend>
            
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 20%">
                                    属性
                                </th>
                                <th style="width: 80%">
                                    值
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.UserId)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.UserId)
                                    @Html.ValidationMessageFor(model => model.UserId)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.UserName)
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Password)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Password)
                                    @Html.ValidationMessageFor(model => model.Password)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.UserGroupId)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.UserGroupId)
                                    @Html.ValidationMessageFor(model => model.UserGroupId)
                                </td>
                            </tr>
                        </tbody>
                    </table>
            
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">保存</button>
                        <a class="btn" href="@Url.Action("List", new { controller = "Account", area = "Admin" })">回到列表</a> 
                    </div>
                </fieldset>
            }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var menu = $('a#user-manage');
        menuNavActive(menu);
    });
</script>


