@model Rhea.Model.Account.UserProfile

@{
    ViewBag.Title = "用户信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Account.cshtml";
}


<div class="box">
    <div class="box-header well" data-original-title>
        <h2><i class="icon-tasks"></i>@ViewBag.Title</h2>
    </div>

    <div class="box-content">    
        <div class="page-header">
            <h2>
                @Model.UserName <small>Id: @Model.Id</small></h2>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:100px">
                                属性
                            </th>
                            <th>
                                值
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Id)
                            </td>
                            <td>
                                @Model.Id
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UserId)
                            </td>
                            <td>
                                @Model.UserId
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UserName)
                            </td>
                            <td>
                                @Model.UserName
                            </td>
                        </tr>                       
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UserGroupId)
                            </td>
                            <td>
                                @Model.UserGroupId
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.UserGroupName)
                            </td>
                            <td>
                                @Model.UserGroupName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.LastLoginTime)
                            </td>
                            <td>
                                @Model.LastLoginTime
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.CurrentLoginTime)
                            </td>
                            <td>
                                @Model.CurrentLoginTime
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.IsSystem)
                            </td>
                            <td>
                                @Model.IsSystem
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DepartmentId)
                            </td>
                            <td>
                                @ViewBag.DepartmentName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Status)
                            </td>
                            <td>
                            @if (Model.Status == 0)
                            {
                                <span class="label label-success">正常</span>
                            }
                            else if (Model.Status == 1)
                            {
                                <span class="label label-inverse">已删除</span>
                            }
                            else
                            {
                                <span class="label label-warning">禁用</span>
                            }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p>
            <a class="btn btn-success" href="@Url.Action("List", new { controller = "Account", area = "Admin" })"><i class="icon-list icon-white"></i> 回到列表</a>
            <a class="btn btn-warning" href="@Url.Action("Edit", new { controller = "Account", id = Model.Id, area = "Admin" })"><i class="icon-edit icon-white"></i> 编辑</a>
            <a class="btn btn-success" href="@Url.Action("Enable", new { controller = "Account", id = Model.Id, area = "Admin" })"><i class="icon-plus-sign icon-white"></i> 启用</a>
            <a class="btn btn-danger" href="@Url.Action("Disable", new { controller = "Account", id = Model.Id, area = "Admin" })"><i class="icon-minus-sign icon-white"></i> 禁用</a>
        </p>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        var menu = $('a#user-manage');
        menuNavActive(menu);
    });
</script>

