@model Rhea.UI.Areas.Apartment.Models.BlockModel

@{
    ViewBag.Title = Model.Block.Name;
    Layout = null;
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">青教公寓</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab">
                        摘要
                    </a>
                </li>
                <li>
                    <a href="#tab_details" data-toggle="tab">
                        详细
                    </a>
                </li>
                <li>
                    <a href="#tab_1_3" data-toggle="tab">
                        房间
                    </a>
                </li>
                <li>
                    <a href="#tab_1_4" data-toggle="tab">
                        统计
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <!--tab_1_1-->
                <div class="tab-pane active" id="tab_1_1">
                    <div class="row profile">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">楼宇全景</h3>
                                </div>
                                <div class="panel-body no-padding">
                                    <img src="@Model.Block.ImageUrl" class="img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-4">
                            <div class="portlet profile-summary">
                                <div class="portlet-title">
                                    <div class="caption">
                                        概况
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="sale-info">
                                                名称
                                            </span>
                                            <span class="sale-num">
                                                @Model.Block.Name
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                使用面积
                                            </span>
                                            <span class="sale-num">
                                                @Model.TotalArea m<sup>2</sup>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                房间数量
                                            </span>
                                            <span class="sale-num">
                                                @Model.Rooms.Count()
                                            </span>
                                        </li>
                                        <li>
                                            <span class="sale-info">
                                                可分配数量
                                            </span>
                                            <span class="sale-num">
                                                @Model.Rooms.Count(r => r.ResideType == 0)
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group">
                                @foreach (var item in Model.Block.Floors)
                                {
                                    <a href="#" class="list-group-item list-group-item-success sub-floor-ajax-link" ref="@item.Number">
                                        <i class="fa fa-plus-square"></i> @item.Name
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tabbable tabbable-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab_1_11" data-toggle="tab">
                                            入住情况
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_22" data-toggle="tab">
                                            空余房间
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_11">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab_1_2-->
                <div class="tab-pane" id="tab_details">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="ver-inline-menu tabbable margin-bottom-10">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab_1_2_1">
                                        <i class="fa fa-info"></i> 楼宇信息
                                    </a>
                                    <span class="after">
                                    </span>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_1_2_2">
                                        <i class="fa fa-indent"></i> 楼层信息
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_1_2_3">
                                        <i class="fa fa-image"></i> 图片集
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div id="tab_1_2_1" class="tab-pane active">
                                    <div class="portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-info-circle"></i> 详细信息
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            @Html.Action("BlockDetails", new { id = Model.Block.BuildingId })
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_1_2_2">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    名称
                                                </th>
                                                <th>
                                                    编号
                                                </th>
                                                <th>
                                                    房间数量
                                                </th>
                                                <th>
                                                    操作
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var item in Model.Block.Floors)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.Number
                                                    </td>
                                                    <td>
                                                        @Model.Rooms.Count(r => r.Floor == item.Number)
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success btn-sm sub-floor-ajax-link" href="#" ref="@item.Number"><i class="fa fa-search-plus"></i>详细</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_1_2_3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab_1_3-->
                <div class="tab-pane" id="tab_1_3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>房间列表
                                    </div>
                                    <div class="tools">
                                        <a href="#" class="collapse">
                                        </a>
                                        <a href="#" data-load="true" data-url="/Apartment/Room/ListByBuilding?buildingId=@Model.Block.BuildingId" class="reload">
                                        </a>
                                        <a href="#" class="remove">
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body portlet-empty">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->

<script type="text/javascript">
    $(function () {

        $('.portlet .portlet-title a.reload[data-load="true"]').click();

        $('a.sub-floor-ajax-link').click(function (e) {
            var url = "/Apartment/Building/Floor";
            var buildingId = '@Model.Block.BuildingId';
            var floor = $(this).attr('ref');
            var request = { buildingId: buildingId, floor: floor };

            Rhea.ajaxLoadPage($(this), e, url, request);
            return false;
        });

    });
</script>
