@model IEnumerable<Rhea.Model.Apartment.Inhabitant>

@{
    ViewBag.Title = "住户列表";
    Layout = null;

    DictionaryBusiness dictionaryBusiness = new DictionaryBusiness();
    var types = dictionaryBusiness.GetPairProperty("InhabitantType");
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    @ViewBag.Title <small>当前在住住户</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", new { area = "Apartment", controller = "Home" })">青教管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">住户管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>住户列表
                </div>
                <div class="tools">
                    <a href="#" class="collapse">
                    </a>
                    <a href="#" class="reload">
                    </a>
                    <a href="#" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-advance" id="inhabitant-table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Education)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartmentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telephone)
                                </th>
                                <th class="hidden-sm">
                                    @Html.DisplayNameFor(model => model.Marriage)
                                </th>
                                <th class="hidden-sm">
                                    @Html.DisplayNameFor(model => model.Remark)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th data-filter="true">
                                    @Html.DisplayNameFor(model => model.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Education)
                                </th>
                                <th data-filter="true">
                                    @Html.DisplayNameFor(model => model.DepartmentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telephone)
                                </th>
                                <th class="hidden-sm">
                                    @Html.DisplayNameFor(model => model.Marriage)
                                </th>
                                <th class="hidden-sm">
                                    @Html.DisplayNameFor(model => model.Remark)
                                </th>
                                <th data-filter="true">
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>操作</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @types[item.Type]
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Education)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telephone)
                                    </td>
                                    <td class="hidden-sm">
                                        @Html.DisplayFor(modelItem => item.Marriage)
                                    </td>
                                    <td class="hidden-sm">
                                        @Html.DisplayFor(modelItem => item.Remark)
                                    </td>
                                    <td>
                                        @switch ((EntityStatus)item.Status)
                                        {
                                            case EntityStatus.Normal:
                                            <span class="label label-success">居住中</span>
                                                break;
                                            case EntityStatus.InhabitantMoveOut:
                                            <span class="label label-default">已搬出</span>
                                                break;
                                            case EntityStatus.InhabitantExtend:
                                            <span class="label label-warning">延期居住</span>
                                                break;
                                            case EntityStatus.InhabitantExpire:
                                            <span class="label label-danger">超期居住</span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        <a href="/Apartment/Inhabitant/Details/@item._id" class="btn btn-info btn-sm ajaxify" role="button"><i class="fa fa-check-circle"></i>&nbsp;查看</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->


<script type="text/javascript">
    $(function () {
        Rhea.initDatatableWithFilter($('#inhabitant-table'));
    });
</script>
